<form [formGroup]="formGroup" class="app-form">
  <div fxLayout="row wrap" class="app-form__row">
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)" class="app-form__item">
      <div class="app-input">
        <youpez-ibm-icon iconName="purchase" class="app-input__prefix" iconSize="20"></youpez-ibm-icon>
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('cardNumber')">
          Card number
          <input
            type="text"
            mask="0000 0000 0000 0000"
            formControlName="cardNumber"
            [invalid]="isValid('cardNumber')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="'1111 1111 1111 11111'"
            [autocomplete]="false">
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(50)"  class="app-form__item">
      <div class="app-input">
        <youpez-ibm-icon iconName="user" class="app-input__prefix" iconSize="20"></youpez-ibm-icon>
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('cardHolder')">
          Cardholder name
          <input
            formControlName="cardHolder"
            [invalid]="isValid('cardHolder')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="'John Doe'"
            [autocomplete]="false">
        </ibm-label>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="app-form__row">
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(33.33)"  class="app-form__item">
      <div class="app-input">
        <youpez-ibm-icon iconName="calendar" class="app-input__prefix" iconSize="20"></youpez-ibm-icon>
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('expiration')">
          Expiration
          <input
            type="text"
            mask="00/00"
            formControlName="expiration"
            [invalid]="isValid('expiration')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="'10/22'"
            [autocomplete]="false">
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(33.33)" class="app-form__item">
      <div class="app-input">
        <youpez-ibm-icon iconName="locked" class="app-input__prefix" iconSize="20"></youpez-ibm-icon>
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('cvc')">
          CVC
          <input
            type="text"
            mask="000"
            formControlName="cvc"
            [invalid]="isValid('cvc')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="'126'"
            [autocomplete]="false">
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%" [fxFlex.gt-md]="getRowLayout(33.33)" class="app-form__item">
      <div class="app-input">
        <youpez-ibm-icon iconName="location" class="app-input__prefix" iconSize="20"></youpez-ibm-icon>
        <ibm-label
          [invalidText]="'This field is required or incorrect'"
          [invalid]="isValid('postalCode')">
          Postal code
          <input
            type="text"
            mask="00000"
            formControlName="postalCode"
            [invalid]="isValid('postalCode')"
            ibmText
            size="md"
            [theme]="theme"
            [placeholder]="'2567'"
            [autocomplete]="false">
        </ibm-label>
      </div>
    </div>
  </div>
</form>
