<youpez-content-simple mainTitle="Table - basic">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="50%">
      <div class="mb-6">
        <div class="mb-4">
          <div class="app-subtitle">TABLE SIZE</div>
          <ibm-radio-group
            aria-label="radiogroup">
            <ibm-radio *ngFor="let radio of tableSizes"
                       (change)="onChange1($event)"
                       [checked]="radio.checked"
                       [value]="radio.num"
                       [disabled]="radio.disabled">
              {{radio.num}}
            </ibm-radio>
          </ibm-radio-group>
        </div>
        <div class="app-productive-heading-02 mb-2">SIMPLE TABLE</div>
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="false"
            [enableSingleSelect]="false"
            [showSelectionColumn]="false"
            [striped]="false"
            [sortable]="false"
            [isDataGrid]="false">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>

      <div class="mb-6">
        <div class="app-productive-heading-02 mb-2">STRIPED TABLE</div>
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="false"
            [enableSingleSelect]="true"
            [showSelectionColumn]="false"
            [striped]="true"
            [sortable]="false"
            [isDataGrid]="false">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>

      <div class="mb-6">
        <div class="app-productive-heading-02 mb-2">SORTABLE TABLE</div>
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="false"
            [enableSingleSelect]="true"
            [showSelectionColumn]="false"
            [striped]="false"
            [sortable]="true"
            [isDataGrid]="false">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>

      <div class="mb-6">
        <div class="app-productive-heading-02 mb-2">SELECTABLE TABLE</div>
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="false"
            [enableSingleSelect]="false"
            [showSelectionColumn]="true"
            [striped]="false"
            [sortable]="true"
            [isDataGrid]="true">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>

      <div class="mb-6">
        <div class="app-productive-heading-02 mb-2">SINGLE SELECT TABLE</div>
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="false"
            [enableSingleSelect]="true"
            [showSelectionColumn]="true"
            [striped]="false"
            [sortable]="true"
            [isDataGrid]="true">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>

      <div class="mb-6">
        <div class="app-productive-heading-02 mb-2">SKELETON TABLE</div>
        <ibm-table-container>
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="size"
            [skeleton]="true"
            [enableSingleSelect]="true"
            [showSelectionColumn]="true"
            [striped]="false"
            [sortable]="true"
            [isDataGrid]="true">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>
    </div>
  </div>
</youpez-content-simple>
