<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>

    <div class="app-card-row-holder">
      <div class="app-card-row">
        <span class="code">.app-code-01</span>
        <p class="app-code-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-code-02">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-caption-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-helper-text-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-body-short-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-body-short-02">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-body-long-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-body-long-02">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-heading-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-heading-02">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-heading-03">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-heading-04">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-heading-05">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-heading-06">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-expressive-paragraph-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-quotation-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-quotation-02">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-display-01">Display</p>
      </div>

      <div class="app-card-row">
        <p class="app-display-02">Display</p>
      </div>

      <div class="app-card-row">
        <p class="app-display-03">Display</p>
      </div>

      <div class="app-card-row">
        <p class="app-display-04">Display</p>
      </div>

      <div class="app-card-row">
        <p class="app-label-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-helper-text-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-01">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-02">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-03">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-04">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-05">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-06">This is for inline code snippets and smaller code elements.</p>
      </div>

      <div class="app-card-row">
        <p class="app-productive-heading-07">This is for inline code snippets and smaller code elements.</p>
      </div>

      <!--<div class="starter-home" ibmGrid>



        <div>

          <div fxFlex fxLayout="row wrap">
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
            <div fxFlex="25%">
              <div class="app-card">
                dasdsad
              </div>
            </div>
          </div>

          &lt;!&ndash;<div fxFlex fxLayout="row wrap">
            <div fxFlex="33%">
              <ibm-label
                [helperText]="'sdasdasd'">
                <input
                  ibmText>
              </ibm-label>
            </div>
          </div>&ndash;&gt;
        </div>

        <span class="expressive-heading-01">bazmmmeg</span>
        <h1 class="title">Congratulations,<br>you made it!
        </h1>
        <p class="subtitle">You have offically built your first Carbon Angular app</p>
        <div class="body-text" ibmRow>
          <div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
            <p>
              This is an Angular CLI app configured for use with Carbon.
              It includes the grid, list, tab and tile components. Feel free
              to add or remove any components to fit your use case.
              To help you get started we've also set up:
            </p>
          </div>
          <div ibmCol [columnNumbers]="{'lg': 6, 'md': 12, 'sm': 12}">
            <ul ibmList class="list">
              <li ibmListItem>Angular-cli</li>
              <li ibmListItem>Build Process</li>
              <li ibmListItem>Code styles<br>& editor configs
              </li>
              <li ibmListItem>Folder structure</li>
              <li ibmListItem>Lazy loading</li>
              <li ibmListItem>Routing</li>
              <li ibmListItem>Service workers</li>
              <li ibmListItem>Test framework</li>
            </ul>
          </div>
        </div>


        <ibm-tabs [isNavigation]="false">
          <ibm-tab heading="carbon-components-angular">
            <p>Description</p>
            <br>
            <p class="starter-tab-description">
              A component library that gives developers a collection of
              re-usable angular components that they can use for building
              websites and user interfaces
            </p>
            <p>Other useful resources</p>
            <br>
            <div ibmRow>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://github.com/IBM/carbon-components-angular" target="_blank">
                  Repository
                </ibm-clickable-tile>
              </div>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://angular.carbondesignsystem.com/" target="_blank">Component
                  Library
                </ibm-clickable-tile>
              </div>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://angular.carbondesignsystem.com/documentation/" target="_blank">
                  Documentation
                </ibm-clickable-tile>
              </div>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.npmjs.com/package/carbon-components-angular"
                                    target="_blank">
                  NPM
                </ibm-clickable-tile>
              </div>
            </div>
          </ibm-tab>
          <ibm-tab heading="carbon-charts">
            <p>Description</p>
            <br>
            <p class="starter-tab-description">
              Carbon Charts is an open-source JavaScript data visualization
              library used as a functional component of IBM's Carbon Design System.
            </p>
            <p>Other useful resources</p>
            <br>
            <div ibmRow>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://github.com/IBM/carbon-charts" target="_blank">Repository
                </ibm-clickable-tile>
              </div>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/" target="_blank">
                  Demo
                </ibm-clickable-tile>
              </div>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://carbon-design-system.github.io/carbon-charts/documentation/"
                                    target="_blank">Documentation
                </ibm-clickable-tile>
              </div>
              <div ibmCol [columnNumbers]="{'md': 2, 'sm': 12}">
                <ibm-clickable-tile href="https://www.npmjs.com/package/@carbon/charts" target="_blank">NPM
                </ibm-clickable-tile>
              </div>
            </div>
          </ibm-tab>
        </ibm-tabs>

      </div>-->
    </div>
  </ng-scrollbar>
</div>
