<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>

    <div fxLayout="row wrap" class="app-header app-header--hero">
      <div class="app_header__tools">
        <button ibmButton="primary" size="sm" ibmIconTools class="mr-2">
          Invoices
        </button>
        <button ibmButton="tertiary" size="sm">
          Schedule
          <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
        </button>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="50%">
        <div>
          <ibm-breadcrumb [noTrailingSlash]="true">
            <ibm-breadcrumb-item href="#1">
              Dashboard
            </ibm-breadcrumb-item>
            <ibm-breadcrumb-item current="true" href="#2">
              Default
            </ibm-breadcrumb-item>
          </ibm-breadcrumb>
        </div>
        <div>
      <span class="app-expressive-heading-06">
        Yopp
      </span>
          <span class="app-expressive-heading-03">
        the startup company
      </span>
        </div>
      </div>
    </div>

    <!--            <button ibmButton="ghost" size="sm">Button</button>
                <button ibmButton="ghost">Button</button>
                <button ibmButton="danger">Button</button>
                <button ibmButton="danger&#45;&#45;primary">Button</button>
                <button ibmButton="primary">Button</button>
                <button ibmButton="secondary">Button</button>

                <button ibmButton="toolbar-action">Button</button>-->


    <div fxLayout="row wrap" class="mx-4">
      <div fxFlex="100%" fxFlex.gt-sm="50%" class="mt-4">
        <ibm-combo-box
          style="width:200px"
          [placeholder]="'Filter group...'"
          [items]="comboboxItems"
          size="md"
          [appendInline]="false">
          <ibm-dropdown-list></ibm-dropdown-list>
        </ibm-combo-box>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="50%" class="mt-4">
        <div class="text-left lg:text-right">
          <span class="app-label-01 mr-3">Date range</span>
          <ibm-date-picker
            class="app-inline-block"
            size="md" range="true">
          </ibm-date-picker>
        </div>
      </div>
    </div>


    <div fxLayout="row wrap" class="app-card-row-holder">
      <div fxFlex="60%">
        <div fxFlex fxLayout="row wrap">
          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__header">
                <div class="app-expressive-heading-03 font-extrabold mb-8">Reviews</div>
                <div class="app-label-01">Current</div>
                <div>
                  <span class="app-expressive-heading-06 mr-2">1,231</span>
                  <app-ibm-icon iconName="arrowUp" size="32"></app-ibm-icon>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__header">
                <div class="app-expressive-heading-03 font-extrabold mb-8">Campaigns</div>
                <div class="app-label-01">Current</div>
                <div>
                  <span class="app-expressive-heading-06 mr-2">566</span>
                  <app-ibm-icon iconName="arrowUp" size="32"></app-ibm-icon>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__header">
                <div class="app-expressive-heading-03 font-extrabold mb-8">Users</div>
                <div class="app-label-01">Current</div>
                <div>
                  <span class="app-expressive-heading-06 mr-2">11,122</span>
                  <app-ibm-icon iconName="arrowUp" size="32"></app-ibm-icon>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="25">
            <div class="app-card">
              <div class="app-card__header">
                <div class="app-expressive-heading-03 font-extrabold mb-8">Downloads</div>
                <div class="app-label-01">Current</div>
                <div>
                  <span class="app-expressive-heading-06 mr-2">234,122</span>
                  <app-ibm-icon iconName="arrowDown" size="32"></app-ibm-icon>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__tool app-card__tool--sign">
                <div class="app-card__tool__sign app-card__tool__sign--danger"></div>
              </div>
              <div class="app-card__header">
                <div class="app-expressive-heading-02">Alerts</div>
                <div class="app-label-01">Last 24hrs</div>
              </div>
              <app-echarts [options]="chartOptions" class="app-echarts-component" style="height: 100px;"></app-echarts>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__tool app-card__tool--sign">
                <div class="app-card__tool__sign app-card__tool__sign--success"></div>
              </div>
              <div class="app-card__header">
                <div class="app-expressive-heading-02">Revenue</div>
                <div class="app-label-01">Current month</div>
              </div>
              <app-echarts [options]="chartOptions" class="app-echarts-component" style="height: 100px;"></app-echarts>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__tool app-card__tool--sign">
                <div class="app-card__tool__sign app-card__tool__sign--success"></div>
              </div>
              <div class="app-card__header">
                <div class="app-expressive-heading-02">Profit</div>
                <div class="app-label-01">Last month</div>
              </div>
              <app-echarts [options]="chartOptions" class="app-echarts-component" style="height: 100px;"></app-echarts>
            </div>
          </div>
          <div fxFlex="25">
            <div class="app-card">
              <div class="app-card__tool app-card__tool--sign">
                <div class="app-card__tool__sign app-card__tool__sign--warning"></div>
              </div>
              <div class="app-card__header">
                <div class="app-expressive-heading-02">Customers</div>
                <div class="app-label-01">Last 6 month</div>
              </div>
              <app-echarts [options]="chartOptions" class="app-echarts-component" style="height: 100px;"></app-echarts>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="40%">
        <div class="app-card" fxFlex>
          <div class="app-card__tool">
            <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
              <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
            </button>
            <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
              <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
            </button>
          </div>
          <div class="app-card__header">
            <div class="app-expressive-heading-03 font-extrabold">App usage</div>
            <div class="app-label-01">Working days</div>
          </div>
          <div class="app-card__content">
            <app-echarts [options]="punchCardOpts" class="app-echarts-component" style="height: 210px;"></app-echarts>
          </div>
        </div>
      </div>

      <div fxFlex="100%">
        <div fxLayout="row wrap">
          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__header">
                <div class="app-row app-row--center">
                  <div class="app-symbol app-symbol--default mr-4">
                    <div class="app-symbol__label w-20 h-20">
                      <app-ibm-icon iconName="cloudDataOps" iconSize="32"></app-ibm-icon>
                    </div>
                  </div>
                  <div>
                    <div class="app-expressive-heading-02">Monthly Subscription <br/> Based SaaS</div>
                    <div class="app-label-01 mt-2">Due: 21 Dec 2020</div>
                  </div>
                </div>
              </div>
              <div class="app-list app-list--hover app-list--select">
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowDown" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    january
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    february
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    march
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    april
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    may
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    june
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="25%">
            <div class="app-card">
              <div class="app-card__header">
                <div class="app-row app-row--center">
                  <div class="app-symbol app-symbol--default mr-4">
                    <div class="app-symbol__label w-20 h-20">
                      <app-ibm-icon iconName="virtualPrivateCloudAlt" iconSize="32"></app-ibm-icon>
                    </div>
                  </div>
                  <div>
                    <div class="app-expressive-heading-02">Monthly Subscription <br/> Based On-premise</div>
                    <div class="app-label-01 mt-2">Due: 21 Dec 2020</div>
                  </div>
                </div>
              </div>
              <div class="app-list app-list--hover app-list--select">
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowDown" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    january
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    february
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    march
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    april
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    may
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
                <div class="app-list__item">
                  <div class="app-list__item__prefix">
                    <app-ibm-icon iconName="arrowUp" iconSize="16"></app-ibm-icon>
                  </div>
                  <div class="app-list__item__content">
                    june
                  </div>
                  <div class="app-expressive-heading-02 mr-1">112,333$</div>
                  <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="50%">
            <div class="app-card" fxFlex>
              <div class="app-card__tool">
                <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                  <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
                </button>
                <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                  <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                </button>
              </div>
              <div class="app-card__header">
                <div class="app-row app-row--center">
                  <div>
                    <div class="app-expressive-heading-02">Latest users</div>
                    <div class="app-label-01 mt-2">Today: +1,233</div>
                  </div>
                </div>
              </div>
              <div class="app-ibm-table-fix" style="height:270px;">
                <app-table size="sh" stickyHeader="true"></app-table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ibm-tile>aysxdsa</ibm-tile>
    </div>
  </ng-scrollbar>
</div>
