<div fxFlex fxLayout="row wrap" class="app-card-row-holder">

  <div fxFlex="60%">
    <div fxFlex fxLayout="row wrap">
      <div fxFlex="25%">
        <div class="app-card">
          <div class="app-expressive-heading-01">Alerts</div>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="app-card">
          <div class="app-expressive-heading-01">Occupancy</div>
        </div>
      </div>
      <div fxFlex="25%">
        <div class="app-card">
          <div class="app-expressive-heading-01">Noise</div>
        </div>
      </div>
      <div fxFlex="25">
        <div class="app-card">
          <div class="app-expressive-heading-01">Temperature</div>
        </div>
      </div>

      <div fxFlex="25%">
        <div class="app-card">
          dasdsad
        </div>
      </div>
      <div fxFlex="25%">
        <div class="app-card">
          dasdsad
        </div>
      </div>
      <div fxFlex="25%">
        <div class="app-card">
          dasdsad
        </div>
      </div>
      <div fxFlex="25">
        <div class="app-card">
          dasdsad
        </div>
      </div>
    </div>
  </div>

  <div fxFlex="40%">
    <div class="app-card" fxFlex>
      dasdsad
    </div>
  </div>
</div>
