@mixin bemEl($element) {
  &__#{$element} {
    @content;
  }
}

@mixin bemMod($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@function theme-var($key, $fallback: null, $map: $theme-map-light) {
  @if not map-has-key($map, $key) {
    @error "key: '#{$key}', is not a key in map: #{$map}";
  }
  @if ($fallback) {
    @return var($key, $fallback);
  } @else {
    @return var($key);
  }
}

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

@function theme-var($key, $fallback: null, $map: $theme-map-light) {
  @if not map-has-key($map, $key) {
    @error "key: '#{$key}', is not a key in map: #{$map}";
  }
  @if ($fallback) {
    @return var($key, $fallback);
  } @else {
    @return var($key);
  }
}

@mixin color-helper($type,$color) {
  .app-bg-#{$type} {
    background-color: $color;

    &.app-bg-#{type}--contrast, .app-text-contrast {
      @include text-contrast($color);
    }
  }

  svg.app-color-#{$type} {
    fill: $color;
  }

  .app-color-#{$type} {
    color: $color;

    svg {
      fill: $color;
    }
  }

  .app-border-color-#{$type} {
    border-color: $color;
  }

  @for $i from 1 through 10 {
    .app-bg-#{$type}-lt-#{$i*10} {
      background-color: lighten($color, $i*10%);

      &.app-bg-#{$type}-lt-#{$i*10}--contrast, .app-text-contrast {
        @include text-contrast(lighten($color, $i*10%));
      }
    }

    svg.app-color-#{$type}-lt-#{$i*10} {
      fill: lighten($color, $i*10%);
    }

    .app-color-#{$type}-lt-#{$i*10} {
      color: lighten($color, $i*10%);

      svg {
        fill: lighten($color, $i*10%);
      }
    }

    .app-border-color-#{$type}-lt-#{$i*10} {
      border-color: lighten($color, $i*10%);
    }
  }
}

@mixin text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

  @if abs($color-brightness) < ($light-color/2) {
    color: white;
  } @else {
    color: black;
  }
}

@mixin theme-bg-helper($color,$name) {
  .app-theme-bg--#{$name} {
    background: $color;
  }
}

@mixin set-white-logo() {
  .app-sidebar__logo__black {
    display: none;
  }
  .app-sidebar__logo__white {
    display: block;
  }
  .app-layout__header__logo--white {
    display: block;
  }
  .app-layout__header__logo--black {
    display: none;
  }
}


@mixin set-black-logo() {
  .app-sidebar__logo__black {
    display: block;
  }
  .app-sidebar__logo__white {
    display: none;
  }
  .app-layout__header__logo--white {
    display: none;
  }
  .app-layout__header__logo--black {
    display: block;
  }
}
