@import 'app.variables';
@import 'app.helpers';

@include color-helper('ui', $appUIBg);
@include color-helper('primary', $appColorPrimary);
@include color-helper('secondary', $appColorSecondary);
@include color-helper('success', $appColorSuccess);
@include color-helper('danger', $appColorDanger);
@include color-helper('warning', $appColorWarning);
@include color-helper('info', $appColorInfo);
@include color-helper('decorative', $appColorDecorative);

body {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.app-relative {
  position: relative;
}

.app-a-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-border-all {
  border: 1px solid $appBorderColor;
}

.app-border-t {
  border-top: 1px solid $appBorderColor;
}

.app-border-b {
  border-bottom: 1px solid $appBorderColor;
}

.app-border-r {
  border-right: 1px solid $appBorderColor;
}

.app-border-l {
  border-left: 1px solid $appBorderColor;
}

.app-btn-border-sep {
  display: inline-block;
  height: 15px;
  width: 1px;
  background-color: $appBorderColor;
  margin: 0 .5rem;
}


.app-transition-default {
  transition: .1s cubic-bezier(.35, 0, .35, 1);
  transition-property: all;
}

.app-img-select {
  .app-img-select__item {
    position: relative;
    cursor: pointer;
    padding: 2px;
    margin-left: -0.5rem;
    background-color: #fff;
    transition: .1s cubic-bezier(.35, 0, .35, 1);
    transition-property: all;

    &.app-img-select__item--selected {
      border: 2px solid blue;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      z-index: 50 !important;
      transform: translateY(-4px);
    }
  }

}


.app-inner-content {
  &.app-inner-content--default {
    padding: 1.1rem;
  }

  &.app-inner-content--sm {
    padding: 1rem;
  }
}

.app-color-muted {
  opacity: .7;
}

.app-text-lnh {
  line-height: 1.5 !important;
}

.app-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &.app-row--center {
    align-items: center;
  }

  &.app-row--end {
    align-items: flex-end;
  }

  &.app-row--x-center {
    justify-content: center;
  }

  &.app-row--x-end {
    justify-content: flex-end;
  }
}

.app-symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.42rem;

  &.app-symbol--default {
    background-color: $appCardBg;
  }

  .app-symbol__label {
    @extend .app-row;
    @extend .app-row--center;
    @extend .app-row--x-center;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 14px;
    cursor: default;
  }
}

.app-row__fill {
  flex: 1;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
}

.text-muted {
  opacity: .7;
}

.app-progress {
  height: 6px;
  background-color: rgba(63, 63, 63, .15);
  background-image: none;
  box-shadow: none;
  border-radius: 0;

  &.app-progress--small {
    height: 3px;
  }

  &.app-progress--x-small {
    height: 2px;
  }

  .app-progress__bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
    height: 100%;
    transition: all 1000ms cubic-bezier(.785, .135, .15, .86);
  }
}

.app-inline-block {
  display: inline-block;
}

.app-echarts-component {
  display: block;
  width: 100%;
  height: 100%;
}

.app-sidebar-toggle-btn {
  border: none;
  margin: 0;
  background: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
