@import 'app.variables';

.app-form {

  .app-form__row {
    margin: 0 -0.755rem;

    .app-form__item {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  .app-form__header {
    padding-top: 1rem;
    border-top: 2px solid $appBorderColorAlt;

    &.app-form__header--active {
      border-top: 3px solid $appColorPrimary;
    }
  }

  .app-form__item {
    margin-bottom: 1.5rem;

    &.app-form__item--opts {
      margin-top: -0.5rem;
      margin-bottom: 1rem;
    }
  }

  .app-form__submit {
    margin-top: 1rem;
  }
}
