<ibm-table-container class="">
  <ibm-table-toolbar
    [model]="model"
    [batchText]="batchText"
    [size]="size"
    #toolbar>
    <ibm-table-toolbar-actions>
      <button cdsButton="primary" [tabindex]="toolbar.selected ? 0 : -1">
        Delete
        <svg cdsIcon="trashCan" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary" [tabindex]="toolbar.selected ? 0 : -1">
        Save
        <svg cdsIcon="document" size="16" class="cds--btn__icon"></svg>
      </button>
      <button cdsButton="primary" [tabindex]="toolbar.selected ? 0 : -1">
        Download
        <svg cdsIcon="download" size="16" class="cds--btn__icon"></svg>
      </button>
    </ibm-table-toolbar-actions>
    <ibm-table-toolbar-content>
      <ibm-table-toolbar-search
        ngDefaultControl
        [expandable]="false">
      </ibm-table-toolbar-search>
      <ibm-overflow-menu
        triggerClass="bx--toolbar-action"
        [customTrigger]="customTrigger"
        placement="bottom">
        <ibm-overflow-menu-option>Option 1</ibm-overflow-menu-option>
        <ibm-overflow-menu-option>Option 2</ibm-overflow-menu-option>
        <ibm-overflow-menu-option disabled="true">Disabled</ibm-overflow-menu-option>
        <ibm-overflow-menu-option type="danger">Danger option</ibm-overflow-menu-option>
      </ibm-overflow-menu>
      <button cdsButton="primary" size="sm" [tabindex]="toolbar.selected ? -1 : 0">
        Primary Button
        <svg cdsIcon="add" size="20" class="cds--btn__icon"></svg>
      </button>
    </ibm-table-toolbar-content>
  </ibm-table-toolbar>
  <app-dummy-table-rich
    [model]="model"
    [size]="size"
    [showSelectionColumn]="true"
    [enableSingleSelect]="false"
    [striped]="false"
    [sortable]="true"
    [skeleton]="false"
    [stickyHeader]="true"
    [isDataGrid]="true">
  </app-dummy-table-rich>
  <ng-template #customTrigger>
    <svg cdsIcon="settings" size="16"></svg>
  </ng-template>
</ibm-table-container>
