<youpez-content-simple mainTitle="Widgets - icons">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="50%">
      <div class="app-body-long-02 mb-6">
        Youpez uses <span class="font-bold">Carbon Design System Icons</span>
      </div>
      <div class="app-productive-heading-02 mb-6">
        We don't created representation page for the icons because this theme does not use all of them. Basically these icons are on-demand, so you can include just the selected icons that you want to use (smaller package size).
      </div>
      <div class="app-productive-heading-02 mb-6">
        If you want use another icon library, you have to just include/install them, it is super easy.
      </div>
      <div class="app-body-long-01 p-4 app-bg-container mb-10">
        Carbon icons are provided through a set of packages allowing the use of icons in multiple frameworks. Icons are supported in vanilla, React, Angular, and Vue.
        <br/> <br/>
        <a href="https://www.carbondesignsystem.com/guidelines/icons/library/" target="_blank">Official documentation</a> <br/>
      </div>
    </div>
  </div>
</youpez-content-simple>

