<youpez-content-simple mainTitle="Timeline">

  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="60%">
      <div fxLayout="row wrap">
        <div fxFlex="100%" fxFlex.gt-md="100%">
          <div class="app-productive-heading-03 mb-2">Apple events timeline</div>
          <div class="app-card app-card--m-0 ">
            <div class="app-card__content">
              <div class="app-timeline">
                <div class="app-timeline__group" fxLayout="row wrap">
                  <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                       ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">October 13</div>
                    <div class="app-helper-text-01">2020</div>
                  </div>
                  <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--info pb-5">
                    <div class="app-timeline__item__content">
                      <div class="app-productive-heading-02 leading-4 mb-2">Apple Event</div>
                      <div class="flex mb-3 app-body-short-01">
                        <a class="app-link mr-2">Online</a> <span>San Francisco, CA</span>
                      </div>
                      <div class="app-body-long-01 mb-3">
                        An Apple Event was held on October 13, 2020, with the tagline "Hi, Speed." It also took place as
                        a
                        virtual conference, just like the previous one held on September 15, 2020. The HomePod mini,
                        iPhone 12 mini, iPhone 12...
                      </div>
                      <div class="flex mb-3">
                        <img src="assets/img/pixabay/appl.jpg" class="w-1/3 h-auto mr-2 cursor-pointer">
                        <img src="assets/img/pixabay/iphone.jpg" class="w-1/3 h-auto cursor-pointer">
                      </div>
                      <div class="flex">
                        <a class="app-link mr-4">Save</a> <a class="app-link mr-2">Share</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="app-timeline__group" fxLayout="row wrap">
                  <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                       ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">September 15</div>
                    <div class="app-helper-text-01">2020</div>
                  </div>
                  <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--info pb-5">
                    <div class="app-timeline__item__content">
                      <div class="app-productive-heading-02 leading-4 mb-2">Apple Event</div>
                      <div class="flex mb-3 app-body-short-01">
                        <a class="app-link mr-2">Online</a> <span>San Francisco, CA</span>
                      </div>
                      <div class="app-body-long-01 mb-3">
                        An Apple Event was held on September 15, 2020, with the tagline "Time flies."[62] It took place
                        as
                        a virtual conference, pre-recorded at the Apple Park. Amongst the many announcements include the
                        Apple Watch Series 6 and the fourth-generation iPad Air. iOS 14, iPadOS 14, watchOS 7 and tvOS
                        14
                        were released a day late
                      </div>
                      <div class="flex">
                        <a class="app-link mr-4">Save</a> <a class="app-link mr-2">Share</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="app-timeline__group" fxLayout="row wrap">
                  <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                       ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">June 22–26</div>
                    <div class="app-helper-text-01">2020</div>
                  </div>
                  <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--info pb-5">
                    <div class="app-timeline__item__content">
                      <div class="app-productive-heading-02 leading-4 mb-2">WWDC 2020</div>
                      <div class="flex mb-3 app-body-short-01">
                        <a class="app-link mr-2">Apple Park</a> <span>Cupertino, California</span>
                      </div>
                      <div class="app-body-long-01 mb-3">
                        WWDC 2020 was held from June 22 to June 26. Due to the COVID-19 pandemic, the entire event took
                        place as a virtual conference for the first time.[61] The announcements at the online special
                        event keynote on June 22 included iOS 14, iPadOS 14, watchOS 7, tvOS 14, macOS Big Sur and the
                        Mac
                        transition to Apple Silicon. The keynote was recorded at Apple Park in Cupertino, California.
                      </div>

                      <div class="flex mb-3">
                        <img src="assets/img/pixabay/smartphone.jpg" class="w-1/3 h-auto mr-2 cursor-pointer">
                      </div>
                      <div class="flex">
                        <a class="app-link mr-4">Save</a> <a class="app-link mr-2">Share</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="app-timeline__group" fxLayout="row wrap">
                  <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                       ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">2020</div>
                  </div>
                  <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--level2 pb-5">
                    <div class="app-timeline__item__content">
                      <div class="app-productive-heading-02 leading-4">Q1</div>
                    </div>
                  </div>
                </div>

                <div class="app-timeline__group" fxLayout="row wrap">
                  <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                       ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">December 2</div>
                    <div class="app-helper-text-01">2019</div>
                  </div>
                  <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--info pb-5">
                    <div class="app-timeline__item__content">
                      <div class="app-productive-heading-02 leading-4 mb-2">Apple Special Event</div>
                      <div class="flex mb-3 app-body-short-01">
                        <a class="app-link mr-2">Center</a> <span>New York, NY</span>
                      </div>
                      <div class="app-body-long-01 mb-3">
                        Apple hosted another special event in New York to honor the best apps in 2019.
                      </div>
                      <div class="flex">
                        <a class="app-link mr-4">Save</a> <a class="app-link mr-2">Share</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="app-timeline__group" fxLayout="row wrap">
                  <div class="app-timeline__time text-right" fxFlex="100%" fxFlex.gt-sm="105px"
                       ngClass.lt-sm="app-timeline__time--collapse">
                    <div class="app-helper-text-01">September 10</div>
                    <div class="app-helper-text-01">2019</div>
                  </div>
                  <div fxFlex class="app-timeline__item app-timeline__item--circle app-timeline__item--info pb-5">
                    <div class="app-timeline__item__content">
                      <div class="app-productive-heading-02 leading-4 mb-2">Apple Special Event</div>
                      <div class="flex mb-3 app-body-short-01">
                        <a class="app-link mr-2">Apple campus</a> <span>San Francisco, CA</span>
                      </div>
                      <div class="app-body-long-01 mb-3">
                        Apple hosted a special event on September 10, 2019, with the tagline "By innovation only." It
                        was
                        held at the Steve Jobs Theater in the Apple Park campus. Apple TV+ updates, Apple Watch Series
                        5,
                        iPhone 11, iPhone 11 Pro and 11 Pro Max, and the 7th generation iPad were announced at the
                        event.
                        iOS 13 and watchOS 6 were released nine days later. iPadOS was also released the following five
                        days.
                      </div>
                      <div class="flex">
                        <a class="app-link mr-4">Save</a> <a class="app-link mr-2">Share</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="100%">
          <div class="app-productive-heading-03 mb-2 mt-4">Right aligned Log timeline</div>
          <div class="app-card app-card--m-0 ">
            <div class="app-card__content">
              <div class="app-timeline px-5 py-5">
                <div class="flex justify-end">
                  <div class="app-timeline" style="max-width:800px">
                    <ng-container *ngFor="let event of events">
                      <div class="app-timeline__group" fxLayout="row wrap">
                        <div class="app-timeline__time " fxFlex="100%" fxFlex.gt-sm="75px"
                             ngClass.lt-sm="app-timeline__time--collapse">
                          <span class="app-helper-text-01">{{event.time}}</span>
                        </div>
                        <div fxFlex class="app-timeline__item app-timeline__item--circle pb-5"
                             [class]="getClassForEvent(event)">
                          <div class="app-timeline__item__content">
                            <div class="app-productive-heading-02 mb-1 leading-4">{{event.title}}</div>
                            <ng-container *ngIf="event.content">
                              <div class="app-body-short-01">{{event.content}}</div>
                            </ng-container>

                          </div>
                          <ng-container *ngIf="event.children.length">
                            <div class="app-timeline">
                              <ng-container *ngFor="let event of event.children">
                                <div class="app-timeline__item app-timeline__item--circle app-timeline__item--level2"
                                     [class]="getClassForEvent(event)">
                                  <div class="app-timeline__item__content">
                                    <div class="app-label-01 leading-4">{{event.content}}</div>
                                  </div>
                                </div>
                              </ng-container>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</youpez-content-simple>
