<youpez-content-simple mainTitle="Widgets - general">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="50%">
      <div class="app-productive-heading-02 mb-2">WIDGETS & HELPERS</div>
      <div class="app-body-long-02 mb-6">
        Youpez uses <span class="font-bold">Tailwindcss</span> for styling components and for helper classes.
      </div>
      <div class="app-productive-heading-02 mb-6">
        Tailwindcss allows for very fast ui development and to focus on unique and creative stuff not on the 'how am i going to do this?'.
      </div>
      <div class="app-body-long-01 p-4 app-bg-container mb-10">
        Tailwind CSS is a highly customizable, low-level CSS framework that gives you all of the building blocks you need to build bespoke designs without any annoying opinionated styles you have to fight to override.
        <br/> <br/>
        A utility-first CSS framework for
        rapidly building custom designs.
        <br/> <br/>
        <a href="https://tailwindcss.com/" target="_blank">Official documentation</a> <br/>
      </div>
      <div class="app-productive-heading-02 mb-2">THEME LAYOUT</div>
      <div class="app-body-long-02 mb-6 font-bold">
        For layout of the theme (sidebar, header...) we created unique highly customizable (but carbon design related)
        components. The unique components of the theme are using BEM css class style.
      </div>
    </div>
  </div>
</youpez-content-simple>


