<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1">Coming soon!</h1>
<div class="app-body-long-02 mb-8">
  We are currently working on something awesome. Stay tuned!
</div>
<div class="app-form">
  <div class="app-form__item">
    <ibm-label>
      Get early access
      <input
        ibmText
        size="md"
        theme="light"
        placeholder="Type your eamil to get early access"
        [autocomplete]="true">
    </ibm-label>
  </div>
  <div class="app-form__item app-form__item--opts">
    <div class="flex justify-between items-center">
      <ibm-checkbox
        checked="true">
        Signup for news
      </ibm-checkbox>
    </div>
  </div>
  <div class="app-form__submit">
    <button routerLink="/app" class="app-ibm-btn-full" ibmButton="primary" size="field">
      Request my early access
      <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
    </button>
  </div>
</div>



