<div fxFill fxLayout="column">
  <youpez-header>
    <youpez-header-title>
      File manager
    </youpez-header-title>
    <youpez-header-tools>
      <button ibmButton="primary" size="sm">
        Upload
        <svg class="bx--btn__icon" ibmIconUpload size="20"></svg>
      </button>
    </youpez-header-tools>
  </youpez-header>
  <div fxFlex class="relative">
    <youpez-sidenav-container panel="solid">
      <youpez-sidenav
        [breakpoint]="'md'"
        [direction]="'left'"
        [opened]="leftSidebarVisibility"
        (visibleChange)="leftSidebarVisibility=$event"
        [hoverAble]="true"
        [mode]="'side'"
        [toggleableBtn]="true"
        [size]="'sideBar1'">
        <div fxFill fxLayout="column" class="app-bg-container">
          <div class="app-border-b flex items-center px-4 py-3">
            <div class="pr-2">
              <div class="app-symbol">
                <div class="app-symbol__label w-10 h-10 rounded-full app-bg-info-lt-40 font-bold app-text-contrast">
                  D
                </div>
              </div>
            </div>
            <div class="mr-4">
              <div>
                <div class="app-expressive-heading-02">Devops team</div>
                <div class="app-helper-text-01">33 member</div>
              </div>
            </div>
          </div>
          <div fxFlex class="relative">
            <div class="app-a-box app-scrollbar-fix">
              <ng-scrollbar>
                <div class="mt-2">
                  <div class="app-list-header-pill">MY DRIVE</div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner font-bold">
                        <youpez-ibm-icon iconSize="20" iconName="checkboxChecked" class="mr-2"></youpez-ibm-icon>
                        Priority
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner app-list-pill__item__inner--active font-bold">
                        <youpez-ibm-icon iconSize="20" iconName="folder" class="mr-2"></youpez-ibm-icon>
                        Storage
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner font-bold">
                        <youpez-ibm-icon iconSize="20" iconName="folderShared" class="mr-2"></youpez-ibm-icon>
                        Shared
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner font-bold">
                        <youpez-ibm-icon iconSize="20" iconName="recentlyViewed" class="mr-2"></youpez-ibm-icon>
                        Recent
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner font-bold">
                        <youpez-ibm-icon iconSize="20" iconName="star" class="mr-2"></youpez-ibm-icon>
                        Starred
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner font-bold">
                        <youpez-ibm-icon iconSize="20" iconName="trashCan" class="mr-2"></youpez-ibm-icon>
                        Trash
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <div class="app-list-header-pill">TAGS</div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner">
                        <youpez-ibm-icon iconSize="20" iconName="hashtag" class="mr-2"></youpez-ibm-icon>
                        devops
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner">
                        <youpez-ibm-icon iconSize="20" iconName="hashtag" class="mr-2"></youpez-ibm-icon>
                        infrastructure
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner">
                        <youpez-ibm-icon iconSize="20" iconName="hashtag" class="mr-2"></youpez-ibm-icon>
                        holyday
                      </div>
                    </div>
                  </div>
                  <div class="app-list-pill">
                    <div class="app-list-pill__item">
                      <div class="app-list-pill__item__inner">
                        <youpez-ibm-icon iconSize="20" iconName="hashtag" class="mr-2"></youpez-ibm-icon>
                        freelance
                      </div>
                    </div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
          <div class="app-list-header-pill">STORAGE STATUS</div>
          <div class="flex items-center px-4 pb-4">
            <div class="pr-2">
              <youpez-ibm-icon iconName="cloudDataOps" iconSize="32"></youpez-ibm-icon>
            </div>
            <div class="mr-4 flex-1">
              <div>
                <div class="app-expressive-heading-02 mb-2">3TB used of 10TB</div>
                <div class="app-progress app-progress--small">
                  <div class="app-progress__bar app-bg-info" style="width:30%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </youpez-sidenav>

      <youpez-sidenav-container panel="solid">
        <youpez-sidenav
          [breakpoint]="'md'"
          [direction]="'right'"
          [opened]="isDetailsOpened"
          (visibleChange)="isDetailsOpened=$event"
          [mode]="'over'"
          [toggleableBtn]="true"
          (close)="onClose($event)"
          [size]="'md'">

          <div fxFill fxLayout="column">
            <div class="px-20 py-20 text-center mb-2 app-border-b">
              <youpez-ibm-icon iconName="document" iconSize="32"></youpez-ibm-icon>
            </div>
            <div class="app-expressive-heading-02 px-4 truncate mb-2">{{selectedItem.name}}</div>
            <div fxFlex class="relative">
              <div class="app-a-box app-scrollbar-fix">
                <ng-scrollbar>
                  <div class="px-4 py-3">
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Offline</div>
                      <div class="app-list-data__content ">
                        <ibm-toggle
                          class="app-ibm-toggle-fix"
                          [checked]="true"
                          [size]="'sm'">
                        </ibm-toggle>
                      </div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Type</div>
                      <div class="app-list-data__content truncate">Yaml</div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Size</div>
                      <div class="app-list-data__content truncate">{{selectedItem.size}}</div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Location</div>
                      <div class="app-list-data__content truncate">/var/www/tmp</div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Owner</div>
                      <div class="app-list-data__content truncate">June Abraham</div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Modified</div>
                      <div class="app-list-data__content truncate">june 10, 2020</div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Opened</div>
                      <div class="app-list-data__content truncate">june 12, 2020</div>
                    </div>
                    <div class="app-list-data app-list-data--horizontal">
                      <div class="app-expressive-heading-01 app-list-data__title">Created</div>
                      <div class="app-list-data__content truncate">june 10, 2020</div>
                    </div>
                  </div>
                </ng-scrollbar>
              </div>
            </div>
            <div class="px-4 py-4">
              <div class="mb-1">
                <button ibmButton="primary" size="sm" class="w-full mb-1">
                  Download
                  <svg class="bx--btn__icon" ibmIconDownload size="20"></svg>
                </button>
              </div>
              <div class="mb-1">
                <button ibmButton="primary" size="sm" class="w-full mb-1">
                  Share
                  <svg class="bx--btn__icon" ibmIconShare size="20"></svg>
                </button>
              </div>
              <div class="mb-1">
                <button ibmButton="danger" size="sm" class="w-full">
                  Delete
                  <svg class="bx--btn__icon" ibmIconTrashCan size="20"></svg>
                </button>
              </div>
            </div>
          </div>
        </youpez-sidenav>

        <div class="app-a-box app-scrollbar-fix">
          <ng-scrollbar>
            <div fxFill fxLayout="column">
              <div fxFlex class="relative">
                <div fxLayout="row wrap">
                  <div fxFlex="100%">

                    <div class="app-header-subheader app-header-subheader--transparent app-header-subheader--left-alt app-header-subheader--right-alt" style="height: 65px">
                      <button (click)="onToggleLeftSidebar()" ibmButton="ghost" size="sm" class="bx--btn--icon-only mr-2">
                        <svg class="bx--btn__icon" ibmIconOpenPanelLeft size="20"></svg>
                      </button>
                      <div class="app-expressive-heading-02">
                        My storage
                      </div>
                      <div class="ml-3" style="width:170px">
                        <ibm-search placeholder="Search..."
                                    size="sm"></ibm-search>
                      </div>
                      <div class="flex-1 flex justify-end">
                        <button
                          ibmButton="ghost" size="sm"
                          class="bx--btn--icon-only bx--btn--remove-tooltip">
                          <svg class="bx--btn__icon" ibmIconSettings size="32"></svg>
                        </button>
                        <button
                          ibmButton="ghost" size="sm"
                          class="bx--btn--icon-only bx--btn--remove-tooltip">
                          <svg class="bx--btn__icon" ibmIconTableOfContents size="32"></svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="app-subtitle app-subtitle--cards mt-4">Recent</div>
                <div fxLayout="row wrap" class="app-card-row-holder">
                  <ng-container *ngFor="let file of files">
                    <div fxFlex="100%" fxFlex.gt-md="16.66%">
                      <div class="app-card app-card--select"
                           (click)="onSelectItem(file)"
                           [ngClass]="{'app-card--select--active':selectedItem.name === file.name}">
                        <div class="app-card__content__alt">
                          <div class="">
                            <div class="px-10 py-10 text-center app-bg-decorative mb-2">
                              <youpez-ibm-icon iconName="document" iconSize="32"></youpez-ibm-icon>
                            </div>
                            <div>
                              <div class="app-expressive-heading-01 truncate">{{file.name}}</div>
                              <div class="app-helper-text-01 mb-2">{{file.size}}</div>
                              <div class="app-label-01 text-muted">{{file.accessed}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="mx-4 py-1 mb-4 app-border-b"></div>
                <div class="app-subtitle app-subtitle--cards">Folders</div>
                <div fxLayout="row wrap" class="app-card-row-holder">
                  <ng-container *ngFor="let folder of folders">
                    <div fxFlex="100%" fxFlex.gt-md="20%">
                      <div class="app-card app-card--select">
                        <div class="app-card__content__alt">
                          <div class="flex items-center">
                            <div class="mr-3">
                              <youpez-ibm-icon iconName="folder" iconSize="32"></youpez-ibm-icon>
                            </div>
                            <div>
                              <div class="app-expressive-heading-01">{{folder.name}}</div>
                              <div>
                                <span class="app-label-01 mr-2">{{folder.files}} files</span>
                                <span class="app-label-01">{{folder.size}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="app-subtitle app-subtitle--cards mt-2">Files</div>
                <div fxLayout="row wrap" class="app-card-row-holder">
                  <ng-container *ngFor="let file of filesMore">
                    <div fxFlex="100%" fxFlex.gt-md="16.66%">
                      <div class="app-card app-card--select">
                        <div class="app-card__content__alt">
                          <div class="">
                            <div class="px-10 py-10 text-center app-bg-decorative mb-2">
                              <youpez-ibm-icon iconName="document" iconSize="32"></youpez-ibm-icon>
                            </div>
                            <div>
                              <div class="app-expressive-heading-01 truncate">{{file.name}}</div>
                              <div class="app-helper-text-01 mb-2">{{file.size}}</div>
                              <div class="app-label-01 text-muted">{{file.accessed}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </youpez-sidenav-container>
    </youpez-sidenav-container>
  </div>
</div>







