@import '../../styles/scss/helpers';

.app-sidenav-v2 {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;

  background-color: #fff;
  transform: translateX(-100%);
  z-index: 6;
  border-right: 1px solid #D5D5D5;
  display: none;

  .app-sidenav-v2__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .app-layout-btn__holder {
    position: absolute;
    top: 10px;
    left: -30px;
    z-index: 100;
  }

  @include bemMod(light-border) {
    border-color: #eee !important;
  }

  @media (max-width: 850px) {
    max-width: 90% !important;
  }

  @include bemMod(btn-holder-lower) {
    .app-layout-btn__holder {
      top: 60px;
    }
  }

  @include bemMod(transparent) {
    background-color: transparent;
  }

  @include bemMod(rendered) {
    display: block;
    transition: transform 400ms cubic-bezier(.05, .74, .27, .99);
  }

  @include bemMod(opened) {
    transform: translateX(0);

    .app-layout-btn__holder {
      left: -13px;
    }
  }

  @include bemMod(right) {
    right: 0;
    left: auto;
    transform: translateX(100%);
    transition: transform 400ms cubic-bezier(.05, .74, .27, .99);
    border-left: 1px solid #D5D5D5;
    border-right: none;

    &.app-sidenav-v2--hoverAble {
      transform: translateX(calc(100% - 20px));

      &.app-sidenav-v2--hoverEvent {
        transform: translateX(0);
      }

      .app-layout-btn__holder {
        left: -13px;
      }
    }

    &.app-sidenav-v2--opened {
      transform: translateX(0);
    }
  }

  @include bemMod(left) {

    &.app-sidenav-v2--toggleBtn-always {
      .app-layout-btn__holder {
        left: -5px;
      }
    }

    &.app-sidenav-v2--hoverAble {
      transform: translateX(calc(-100% + 20px));

      &.app-sidenav-v2--hoverEvent {
        transform: translateX(0);
      }

      .app-layout-btn__holder {
        left: -10px;
      }
    }

    &.app-sidenav-v2--opened {
      transform: translateX(0);

      .app-layout-btn__holder {
        left: -10px;
      }
    }
  }

  @include bemMod(top) {

    right: 0;
    bottom: auto;
    width:100% !important;
    transform: translateY(100%);
    transition: transform 400ms cubic-bezier(.05, .74, .27, .99);
    border-bottom: 1px solid #D5D5D5;
    border-right: none;

    &.app-sidenav-v2--toggleBtn-always {
      .app-layout-btn__holder {
        left: -5px;
      }
    }

    &.app-sidenav-v2--hoverAble {
      transform: translateY(calc(-100% + 20px));

      &.app-sidenav-v2--hoverEvent {
        transform: translateY(0);
      }

      .app-layout-btn__holder {
        top: -10px;
      }
    }

    &.app-sidenav-v2--opened {
      transform: translateY(0);

      .app-layout-btn__holder {
        top: -10px;
      }
    }
  }

  @include bemMod(bottom) {

    right: 0;
    top: auto;
    width:100% !important;
    transform: translateY(100%);
    transition: transform 400ms cubic-bezier(.05, .74, .27, .99);
    border-top: 1px solid #D5D5D5;
    border-right: none;

    &.app-sidenav-v2--toggleBtn-always {
      .app-layout-btn__holder {
        left: -5px;
      }
    }

    &.app-sidenav-v2--hoverAble {
      transform: translateY(calc(100% - 20px));

      &.app-sidenav-v2--hoverEvent {
        transform: translateY(0);
      }

      .app-layout-btn__holder {
        top: -10px;
      }
    }

    &.app-sidenav-v2--opened {
      transform: translateY(0);

      .app-layout-btn__holder {
        top: -10px;
      }
    }
  }


}


