<div class="text-center pt-20 pb-4">
  <div class="app-productive-heading-05 mb-4">
    What's included in Pay Platform
  </div>
  <p class="app-body-long-02 mb-10">
    Youpez’s powerful platform empowers everyone <br/> across your organization with data.
  </p>
</div>
<div fxLayout="row wrap">
  <div fxFlex="100%" fxFlex.gt-md="33.33%" class="mb-8">
    <div>
      <div
        class="w-10 h-10 rounded-full inline-block app-bg-success-lt-40 flex items-center justify-center mb-3">
        <youpez-ibm-icon iconName="analytics" class="app-color-success" iconSize="16"></youpez-ibm-icon>
      </div>
      <div class="app-productive-heading-02 mb-2">Global Payment with single integration</div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        90+ global currencies
      </div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        90+ global currencies
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-md="33.33%" class="mb-8">
    <div>
      <div
        class="w-10 h-10 rounded-full inline-block app-bg-success-lt-40 flex items-center justify-center mb-3">
        <youpez-ibm-icon iconName="analytics" class="app-color-success" iconSize="16"></youpez-ibm-icon>
      </div>
      <div class="app-productive-heading-02 mb-2">24x7 phone, chat, email support</div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        24 x 7h support
      </div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Comprehensive support
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-md="33.33%" class="mb-8">
    <div>
      <div
        class="w-10 h-10 rounded-full inline-block app-bg-success-lt-40 flex items-center justify-center mb-3">
        <youpez-ibm-icon iconName="analytics" class="app-color-success" iconSize="16"></youpez-ibm-icon>
      </div>
      <div class="app-productive-heading-02 mb-2">Tools to build optimized flows</div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Embedded checkout
      </div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Custom toolkits
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.gt-md="33.33%" class="mb-8">
    <div>
      <div
        class="w-10 h-10 rounded-full inline-block app-bg-success-lt-40 flex items-center justify-center mb-3">
        <youpez-ibm-icon iconName="analytics" class="app-color-success" iconSize="16"></youpez-ibm-icon>
      </div>
      <div class="app-productive-heading-02 mb-2">Fast, predictable payouts</div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Control payout timing
      </div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Transparent payouts
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-md="33.33%" class="mb-8">
    <div>
      <div
        class="w-10 h-10 rounded-full inline-block app-bg-success-lt-40 flex items-center justify-center mb-3">
        <youpez-ibm-icon iconName="analytics" class="app-color-success" iconSize="16"></youpez-ibm-icon>
      </div>
      <div class="app-productive-heading-02 mb-2">Finincial proof and reporting</div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Real time reporting
      </div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Unifited reporting
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-md="33.33%" class="mb-8">
    <div>
      <div
        class="w-10 h-10 rounded-full inline-block app-bg-success-lt-40 flex items-center justify-center mb-3">
        <youpez-ibm-icon iconName="analytics" class="app-color-success" iconSize="16"></youpez-ibm-icon>
      </div>
      <div class="app-productive-heading-02 mb-2">Developer platform and third-party components</div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        100+ extensions
      </div>
      <div class="flex items-center app-body-short-01 mb-1">
        <youpez-ibm-icon iconName="checkmark" class="app-color-success mr-2"></youpez-ibm-icon>
        Developer dashboard
      </div>
    </div>
  </div>
</div>
<div class="text-center pt-20 pb-4">
  <div class="app-productive-heading-05 mb-4">
    Frequently Asked Questions
  </div>
  <p class="app-body-long-02 mb-10">
    Youpez’s powerful platform empowers everyone <br/> across your organization with data.
  </p>
</div>
<div fxLayout="row wrap" fxLayoutAlign.gt-md="space-between start">
  <div fxFlex="100%" fxFlex.gt-md="45%" class="mb-8">
    <div class="mb-8">
      <div class="app-productive-heading-02 mb-2">What is Youpez platform?</div>
      <p class="app-body-short-02">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui
      </p>
    </div>

    <div class="app-productive-heading-02 mb-2">What can I do with Youpez platform?</div>
    <p class="app-body-short-02">
      Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
      rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      consequuntur magni dolores eos qui
    </p>
  </div>
  <div fxFlex="100%" fxFlex.gt-md="45%" class="mb-8">
    <div class="app-productive-heading-02 mb-2">How can I get started with Youpez platform?</div>
    <p class="app-body-short-02 mb-8">
      illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      consequuntur magni dolores eos qui
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
      rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      consequuntur magni dolores eos qui
    </p>

    <div class="app-productive-heading-02 mb-2">How quickly will systems be running?</div>
    <p class="app-body-short-02">
      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
      rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
      consequuntur magni dolores eos qui
    </p>
  </div>
</div>
