<div class="flex h-full w-full justify-center items-center">
  <div class="absolute top-0 right-0 left-0 bottom-0 app-bg-pattern-dotted opacity-25 z-0"></div>
  <div class="text-center z-10">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
         class="app-ibm-pictogram-stroke"
         width="300px" height="300px"
         viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve">
<g id="face_dissatisfied">
	<g id="face_dissatisfied_1_">
		<path
      d="M18.75,21c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75s0.336-0.75,0.75-0.75S18.75,20.586,18.75,21z M30,20.25    c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75s0.75-0.336,0.75-0.75S30.414,20.25,30,20.25z"/>
    <path style="fill:none;stroke-width:0.72;stroke-miterlimit:10;"
          d="M18,31c0,0,2-3,6-3s6,3,6,3 M24,9    C15.716,9,9,15.716,9,24s6.716,15,15,15s15-6.716,15-15S32.284,9,24,9z"/>
	</g>
</g>
      <g id="Layer_1">
</g>
</svg>
    <div class="app-productive-heading-07 mb-2 font-bold">We are sorry!</div>
    <div class="app-productive-heading-04 mb-4 ">404 Page Not Found</div>
    <div class="app-body-long-02 mb-4" style="max-width:500px">We are very sorry for inconvenience. It looks like you’re try to access a page that either has been deleted or never existed.</div>
    <button type="submit" ibmButton="primary" size="field">
      Back to Home
      <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
    </button>
  </div>
</div>
