@import 'app.variables';

.app-card-row-holder {
  padding: 8px 8px;
}

.app-card-row {
  margin-bottom: 1rem;
  padding: 1rem;
  min-height: 100px;
}

.app-card {
  position: relative;
  display: block;
  min-height: 4rem;
  background-color: $appCardBg;
  outline: 2px solid transparent;
  outline-offset: -2px;
  margin: 0.5rem;
  //box-shadow: 0 1px 2px 0 rgba(33, 33, 33, .14), 0 0 1px 0 rgba(0, 0, 0, .14);

  .app-card__header {
    padding: 0.75rem 1.1rem;

    &.app-card__header--border {
      border-bottom: 1px solid $appBorderColor;
    }
  }

  .app-card__content {
    padding: 1.1rem;
  }

  .app-card__blocks {
    border-top: 1px solid $appBorderColor;

    .app-card__block {
      padding: 1rem;
      border-right: 1px solid $appBorderColor;

      &:last-child {
        border-right-color: transparent;
      }
    }
  }


  .app-card__tool {
    position: absolute;
    top: 0;
    right: 0;

    button {
      margin-left: 0.25rem;
    }

    &.app-card__tool--sign {
      top: 6px;
      right: 6px;
    }

    .app-card__tool__sign {
      width: 15px;
      height: 15px;
      border-radius: 100%;

      &.app-card__tool__sign--danger {
        background-color: $appColorDanger;
      }

      &.app-card__tool__sign--success {
        background-color: $appColorSuccess;
      }

      &.app-card__tool__sign--warning {
        background-color: $appColorWarning;
      }
    }
  }
}
