@import './helpers.scss';

.app-sidebar {

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: #0f0f13;
  padding: 0;
  color: #808080;

  .app-sidebar__logo {
    padding: 18px 22px 11px 18px;
    background-color: #27272b;

    img {
      width: 160px;
    }
  }


  .app-sidebar__list {

    .app-sidebar__list__group {
      max-height: 0;
      overflow: hidden;
      transition: .3s cubic-bezier(.35, 0, .35, 1);
      transition-property: max-height;

      &.app-sidebar__list__group--opened {
        max-height: 3000px;
      }
    }

    .app-sidebar__list__header {
      margin: 16px 25px 3px 20px;
      letter-spacing: 1px;
      font-size: 12px;

      cursor: pointer;
      text-transform: uppercase;

      @extend .app-row;
      @extend .app-row--center;

      .app-sidebar__list__header__text {
        @extend .app-row__fill;
        @extend .text-overflow-ellipsis;
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }

      .app-sidebar__list__header__toggle {
        opacity: .8;

        svg {
          fill: #808080;
        }
      }
    }

    .app-sidebar__list__item {
      margin: 0 10px 0 10px;
      cursor: pointer;

      .app-sidebar__list__item__inner {
        height: 38px;
        padding: 0 16px 0 10px;
        border-radius: 8px;
        margin-bottom: 2px;
        outline: none;
        transition: .1s cubic-bezier(.35, 0, .35, 1);
        transition-property: all;

        @extend .app-row;
        @extend .app-row--center;

        &:hover {
          background-color: #1f1f23;
          color: #eaeaeb;

          svg {
            fill: #eaeaeb;
          }
        }

        &.app-sidebar__list__item__inner--active {
          background-color: #27272b;
          color: #eaeaeb;

          svg {
            fill: #eaeaeb;
          }
        }
      }

      .app-sidebar__list__item__icon {
        margin-right: 8px;

        .material-icons-two-tone {
          font-size: 22px;
          filter: invert(91%) sepia(5%) saturate(37%) hue-rotate(201deg) brightness(88%) contrast(82%);
        }

        svg {
          fill: #808080;
        }
      }

      .app-sidebar__list__item__caret {
        fill: #808080;
        transition: .3s cubic-bezier(.35, 0, .35, 1);
        transition-property: all;
        transform: rotate(-90deg);
      }


      .app-sidebar__list__item__text {
        @extend .app-row__fill;
        @extend .text-overflow-ellipsis;
        line-height: 1rem;
        //font-weight: 700;
      }

      .app-sidebar__list__item__badge {
        font-size: 10px;
        font-weight: 700;
        border-radius: 100px;
        padding: 3px 5px;
        display: inline-block;
        margin-right: -4px;
        text-align: center;

        &.app-sidebar__list__item__badge--success {
          background-color: #8aee46;
          color: #000000;
        }

        &.app-sidebar__list__item__badge--default {
          background-color: #e0e6ee;
          color: #000000;
        }

        &.app-sidebar__list__item__badge--danger {
          background-color: #ff5461;
          color: #fff;
        }

        & + .app-sidebar__list__item__caret {
          margin-left: 10px;
        }
      }

      .app-sidebar__list__item__children {
        max-height: 0;
        padding-top: 0;
        overflow: hidden;
        transition: .3s cubic-bezier(.35, 0, .35, 1);
        transition-property: max-height;
        padding-left: 18px;

        .app-sidebar__list__item {
          .app-sidebar__list__item__inner {
            height: 30px;
          }
        }
      }

      &.app-sidebar__list__item--opened {

        & > .app-sidebar__list__item__inner {
          background-color: #27272b;
          color: #eaeaeb;

          .app-sidebar__list__item__caret {
            transform: rotate(0deg);
          }
        }


        .app-sidebar__list__item__children {
          max-height: 3000px;
        }
      }

      &.app-sidebar__list__item--active-opened {
        & > .app-sidebar__list__item__inner {
          background-color: #27272b;
          color: #eaeaeb;

          svg {
            fill: #eaeaeb;
          }
        }
      }

    }

  }


}
