@import 'app.variables';

.app-list-header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $appBorderColorAlt;
  background-color: #f4f4f4;
}

.app-list {
  position: relative;
  overflow: hidden;

  .app-list__item {
    position: relative;
    @extend .app-row;
    @extend .app-row--center;

    .app-list__item__prefix {

    }

    .app-list__item__content {
      padding: 0.75rem 0;
      position: relative;
      @extend .app-row;
      @extend .app-row--center;
      @extend .app-row__fill;

      &:before {
        position: absolute;
        bottom: 0;
        right: -1000px;
        left: 0;
        content: '';
        height: 1px;
        background-color: $appBorderColor;
      }
    }

    &:last-child {
      .app-list__item__content:before {
        display: none;
      }
    }
  }

  &.app-list--p {
    .app-list__item__content {
      padding: 0.5rem 1rem;
    }
  }

  &.app-list--hover {
    .app-list__item:hover {
      background-color: $appHoverBg;
    }
  }

  &.app-list--select {
    .app-list__item {
      cursor: pointer;

      &:focus {
        outline: 2px solid $appFocusBorder;
        outline-offset: -2px;
      }

      &.app-list__item--active {
        outline: 2px solid $appFocusBorder;
        outline-offset: -2px;
/*        background-color: $appFocusBorder;
        color: #fff;*/

        .app-list__item__content {
          &:before {
            //display: none;
            background-color: transparent;
          }
        }

      }
    }
  }
}
