@import "~carbon-components/scss/globals/scss/colors";

.app-card-row-holder {
  padding: 15px 8px;
}

.app-card-row {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  min-height: 100px;
}

.app-card {
  position: relative;
  display: block;
  min-height: 4rem;

  background-color: #fff;
  outline: 2px solid transparent;
  outline-offset: -2px;
  margin: 7px;

  .app-card__header {
    padding: 0.75rem 1rem;
  }

  .app-card__content {
    padding: 15px;
  }

  .app-card__tool {
    position: absolute;
    top: 0;
    right: 0;

    &.app-card__tool--sign {
      top: 6px;
      right: 6px;
    }

    .app-card__tool__sign {
      width: 15px;
      height: 15px;
      border-radius: 100%;

      &.app-card__tool__sign--danger {
        background-color: $support-01;
      }

      &.app-card__tool__sign--success {
        background-color: $support-02;
      }

      &.app-card__tool__sign--warning {
        background-color: $support-03;
      }
    }
  }
}
