<div fxFill fxLayout="column">
  <youpez-header>
    <youpez-header-title>
      The company tasks
    </youpez-header-title>
    <youpez-header-tools>
      <button ibmButton="primary" size="sm">
        Synchronise
        <svg class="bx--btn__icon" ibmIconCheckmarkOutline size="20"></svg>
      </button>
    </youpez-header-tools>
  </youpez-header>
  <div fxFlex class="relative">
    <youpez-sidenav-container panel="solid">
      <youpez-sidenav
        [breakpoint]="'md'"
        [direction]="'left'"
        [opened]="leftSidebarVisibility"
        [hoverAble]="true"
        [mode]="'side'"
        [toggleableBtn]="true"
        [size]="'sideBar1'">
        <div fxFill fxLayout="column" class="app-bg-container">

          <div class="app-border-b flex items-center px-4 py-3">
            <div class="pr-2">
              <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatar2.jpg"/>
            </div>
            <div class="mr-4">
              <div>
                <div class="app-helper-text-01">david@youpez.com</div>
                <div class="app-expressive-heading-02">David Robson</div>
              </div>
            </div>
          </div>

          <div fxFlex class="relative">
            <div class="app-a-box app-scrollbar-fix">
              <ng-scrollbar>
                <div class="mt-2">
                  <div class="app-list-header-pill">TAGS</div>
                  <div class="app-list-pill">
                    <ng-container *ngFor="let tag of tags">
                      <div class="app-list-pill__item">
                        <div class="app-list-pill__item__inner"
                             [ngClass]="{'app-list-pill__item__inner--active':tag.active}">
                          <span class="h-3 w-3 rounded-full mr-2" [class]="tag.bg"></span>
                          {{tag.name}}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="mt-2">
                  <div class="app-list-header-pill">TEAM MEMBERS</div>
                  <div class="app-list-pill">
                    <ng-container *ngFor="let user of users">
                      <div class="app-list-pill__item">
                        <div class="app-list-pill__item__inner">
                          <img class="h-3 w-3 rounded-full mr-2" [src]="user.avatar"/>
                          {{user.name}}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="mt-2">
                  <div class="app-list-header-pill">ARCHIVES</div>
                  <div class="app-list-pill">
                    <ng-container *ngFor="let archive of archives">
                      <div class="app-list-pill__item">
                        <div class="app-list-pill__item__inner">
                          <youpez-ibm-icon iconName="archive" iconSize="16" class="mr-2"></youpez-ibm-icon>
                          {{archive.name}}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </youpez-sidenav>

      <div class="app-a-box app-scrollbar-fix">
        <ng-scrollbar>
          <div fxFill fxLayout="column">
            <div fxFlex class="relative">
              <div fxLayout="row wrap">
                <div fxFlex.gt-lg="100%">
                  <div class="app-content app-content--default">
                    <div class="flex items-center mb-4">
                      <button (click)="onToggleLeftSidebar()" ibmButton="tertiary" size="sm" class="bx--btn--icon-only mr-1">
                        <svg class="bx--btn__icon" ibmIconOpenPanelLeft size="20"></svg>
                      </button>
                      <button (click)="onAddList()" ibmButton="primary" size="sm">
                        Add list
                        <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
                      </button>
                      <div class="ml-2" style="width:150px">
                        <ibm-search (valueChange)="onSearchChange($event)"
                                    (clear)="onSearchChange('')"
                                    placeholder="Search..."
                                    size="sm"></ibm-search>
                      </div>
                      <div class="flex-1 flex justify-end">
                        <button (click)="onMinimize()"
                                ibmButton="ghost" size="sm"
                                class="bx--btn--icon-only bx--btn--remove-tooltip">
                          <svg class="bx--btn__icon" ibmIconMinimize size="32"></svg>
                        </button>
                        <button (click)="onMaximize()"
                                ibmButton="ghost" size="sm"
                                class="bx--btn--icon-only bx--btn--remove-tooltip">
                          <svg class="bx--btn__icon" ibmIconMaximize size="32"></svg>
                        </button>
                      </div>
                    </div>

                    <div fxLayout="row wrap">
                      <div fxFlex.gt-lg="65%">
                        <youpez-tasks-list #appTasksList
                                        [tasks]="taskGroups"
                                        [transparent]="false"
                                        [filterText]="txtSearch"
                        ></youpez-tasks-list>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </youpez-sidenav-container>
  </div>
</div>






