<div class="app-layout"
     [ngClass.lt-md]="{'app-layout--show-header': true}">

  <!-- BEGIN: MAIN SIDENAV CONTAINER -->
  <app-sidenav-container>

    <!-- BEGIN: THEME SETTINGS BTN -->
    <div class="app-theme-settings-btn"
         (click)="onToggleThemeSettings()"
         placement="left"
         container="body"
         ngbTooltip="Theme settings">
      <app-ibm-icon iconName="settingsAdjust" iconSize="24"></app-ibm-icon>
    </div>
    <!-- END: THEME SETTINGS BTN -->

    <!-- BEGIN: THEME SETTINGS SIDEBAR -->
    <app-sidenav-v2
      (close)="onCloseSettings($event)"
      [opened]="settingsVisible"
      [direction]="'right'"
      [mode]="'over'"
      [size]="'md'">
      <app-theme-settings></app-theme-settings>
    </app-sidenav-v2>
    <!-- END: THEME SETTINGS SIDEBAR -->

    <!-- BEGIN: MAIN HEADER (XS VIEW) -->
    <app-main-header (menuClick)="onSideBarToggle($event)" class="app-layout__header"></app-main-header>
    <!-- BEGIN: END HEADER (XS VIEW) -->

    <!-- BEGIN: MAIN MINI SIDEBAR (LEFT) -->
    <div class="app-layout__mini-sidebar">
      <div class="app-mini-sidebar">
        <app-layout-mini-sidebar (itemClick)="onMiniSidebarItemClick($event)"></app-layout-mini-sidebar>
      </div>
    </div>
    <!-- END: MAIN MINI SIDEBAR (LEFT) -->

    <!-- BEGIN: MAIN LAYOUT -->
    <div class="app-layout__content">
      <app-sidenav-container>

        <!-- BEGIN: MAIN SIDEBAR -->
        <app-sidenav-v2
          [breakpoint]="mainSidebarOpts.breakpoint"
          [opened]="mainSidebarOpts.opened"
          [hoverAble]="mainSidebarOpts.hoverAble"
          [mode]="mainSidebarOpts.mode"
          [toggleableBtn]="mainSidebarOpts.toggleableBtn"
          [size]="mainSidebarOpts.size">
          <app-layout-sidebar [opened]="mainSidebarOpts.opened"
                              (sideBarToggle)="onSideBarToggle($event)"></app-layout-sidebar>
        </app-sidenav-v2>
        <!-- END: MAIN SIDEBAR -->

        <!-- BEGIN: MAIN PAGE CONTENT -->
        <div class="app-layout__content__inner">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
        <!-- END: MAIN PAGE CONTENT -->

      </app-sidenav-container>
    </div>
    <!-- END: MAIN LAYOUT -->

  </app-sidenav-container>

  <!-- END: MAIN SIDENAV CONTAINER -->
</div>

<!-- BEGIN: GLOBAL SEARCH DIALOG -->
<ng-container *ngIf="searchVisible">
  <app-search (close)="onSearchClose($event)"></app-search>
</ng-container>
<!-- END: GLOBAL SEARCH DIALOG -->

<!-- BEGIN: LOCK SCREEN DIALOG -->
<ng-container *ngIf="lockScreenVisible">
  <app-lock-screen (close)="onLockClose($event)"></app-lock-screen>
</ng-container>
<!-- END: LOCK SCREEN DIALOG -->

