<youpez-content-simple mainTitle="Table - basic">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="50%" class="relative">
      <div class="app-productive-heading-02 mb-2">SELECTION / STICKY HEADER / SEARCH</div>
      <div class="app-ibm-h-full mb-6 relative" style="height:400px">
        <app-dummy-table-advanced></app-dummy-table-advanced>
      </div>
      <div class="app-productive-heading-02 mb-2">EXPANSION</div>
      <div class="mb-6 relative">
        <app-dummy-table-expansion></app-dummy-table-expansion>
      </div>
      <div class="app-productive-heading-02 mb-2">PAGINATION</div>
      <div class="app-ibm-h-full mb-6 relative" style="height:400px">
        <app-dummy-table-pagination></app-dummy-table-pagination>
      </div>
    </div>
  </div>
</youpez-content-simple>




