<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1">Sign in</h1>
<div class="app-body-long-02 mb-8">
  Don't have an account?
  <a ibmLink routerLink="../signup">Sign up</a>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="app-form">
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('email')"
        [invalidText]="'This field is required'">
        Email address
        <input
          formControlName="email"
          ibmText
          size="md"
          [invalid]="isValid('email')"
          [disabled]="false"
          theme="light"
          [placeholder]="'Email address'"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('password')"
        [invalidText]="'This field is required'">
        Password
        <input
          type="password"
          formControlName="password"
          ibmText
          size="md"
          [invalid]="isValid('password')"
          [disabled]="false"
          theme="light"
          [placeholder]="'Password'"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item app-form__item--opts">
      <div class="flex justify-between items-center">
        <ibm-checkbox
          checked="true">
          Remember me?
        </ibm-checkbox>
        <a ibmLink routerLink="../forgot-password">Forgot password?</a>
      </div>
    </div>
    <div class="app-form__submit">
      <button type="submit" class="app-ibm-btn-full" ibmButton="primary" size="field">
        Sign In
        <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
      </button>
    </div>
  </div>
</form>
<div class="app-separator mt-8 mb-8">or Sign In with</div>
<div fxLayout="row" class="">
  <div fxFlex="50" class="mr-1">
    <button class="w-full"
            ibmButton="tertiary"
            size="field">
      Google
      <svg class="bx--btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"/>
      </svg>
    </button>
  </div>
  <div fxFlex="50" class="ml-1">
    <button class="w-full"
            ibmButton="tertiary"
            size="field">
      Facebook
      <svg class="bx--btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"/>
      </svg>
    </button>
  </div>
</div>

