@import './themes/app.dark.2';
@import "~carbon-components/scss/globals/scss/colors";

$appUIBg: map-get($carbon--theme, 'ui-background');
$appUIForegroundBg: map-get($carbon--theme, 'ui-01');
$appCardBg: map-get($carbon--theme, 'ui-01');

$appText: map-get($carbon--theme, 'text-01');
$appTextInverse: map-get($carbon--theme, 'inverse-01');
$appHighLightColor: map-get($carbon--theme, 'highlight');

$appBorderColor: map-get($carbon--theme, 'ui-03');
$appBorderContrastColor: map-get($carbon--theme, 'ui-04');
$appBorderHighContrastColor: map-get($carbon--theme, 'ui-05');

$appBorderColorAlt: map-get($carbon--theme, 'active-ui');
$appHoverBg: map-get($carbon--theme, 'hover-ui');
$appHoverText: map-get($carbon--theme, 'hover-primary-text');
$appFocusBorder: map-get($carbon--theme, 'focus');

$appColorLight: map-get($carbon--theme, 'ui-02');

$appColorPrimary: map-get($carbon--theme, 'interactive-01');
$appColorDecorative: map-get($carbon--theme, 'ui-03');
$appColorSecondary: map-get($carbon--theme, 'interactive-02');
$appColorSecondaryHover: map-get($carbon--theme, 'hover-secondary');

$appColorSuccess: map-get($carbon--theme, 'support-02');
$appColorDanger: map-get($carbon--theme, 'support-01');
$appColorWarning: map-get($carbon--theme, 'support-03');
$appColorInfo: map-get($carbon--theme, 'support-04');

$appColorHighContrast: map-get($carbon--theme, 'ui-05');
$appColorHighContrastTextOn: map-get($carbon--theme, 'text-04');
$appSelectedColor: map-get($carbon--theme, 'selected-ui');

$__app_color_blue: rgb(39, 122, 252);
$__app_on_color_blue: #fff;
$__app_color_grey: rgb(239, 239, 239);

$theme-sidebar-light: (
  '--theme-main-sidebar': #fff,
  '--theme-main-sidebar-lt': #eee,
  '--theme-on-main-sidebar':#373a3c,
  '--theme-on-main-sidebar-lt':#989898,
  '--theme-main-sidebar-border': #D5D5D5,
  '--theme-main-sidebar-active': $__app_color_blue,
  '--theme-on-main-sidebar-active': $__app_on_color_blue,
);

$theme-sub-sidebar-light: (
  '--theme-sub-sidebar':#EFEFEF,
  '--theme-on-sub-sidebar':#373a3c,
  '--theme-sub-sidebar-border':#D5D5D5,
  '--theme-sub-sidebar__list_hover':#fff,
  '--theme-on-sub-sidebar__list_hover':#fff,
  '--theme-sub-sidebar__list_active':#cbdfff,
  '--theme-on-sub-sidebar__list_active':$__app_color_blue,
  '--theme-sub-sidebar__input':#fff,
  '--theme-on-sub-sidebar__input':#000,
  '--theme-sub-sidebar__input_border':#D5D5D5,
  '--theme-sub-sidebar__required':#deecff,
  '--theme-sub-sidebar__badge':#dedede,
  '--theme-on-sub-sidebar__badge':#9e9e9e,
);

$theme-map-light: (
  '--theme-background': $appUIForegroundBg,
  '--theme-sidenav-border': $appBorderColor,
  '--theme-header-border': $appBorderColor,
  '--theme-list-pill--hover-background': $appHoverBg,
  '--theme-list-pill--hover-color': $appText,
  '--theme-list-pill--active-background': $appHighLightColor,
  '--theme-list-pill--active-color': $appHoverText,
);

$theme-sidebar-1: (
  '--theme-main-sidebar--background':#0f0f13,
  '--theme-main-sidebar--color':#808080,
  '--theme-main-sidebar--toggle':#b7b7b8,
  '--theme-main-sidebar--active-background':#1f1f23,
  '--theme-main-sidebar--active-color':#eaeaeb,
  '--theme-main-sidebar--hover-background':#27272b,
  '--theme-main-sidebar--border-color':transparent,
  '--theme-main-sidebar--logo-background':#27272b,
  '--theme-main-sidebar--logo-border':#27272b,
);

$theme-sidebar-2: (
  '--theme-main-sidebar--background':#ffffff,
  '--theme-main-sidebar--color':#252525,
  '--theme-main-sidebar--toggle':#282829,
  '--theme-main-sidebar--active-background':#e4e6e8,
  '--theme-main-sidebar--active-color':#000000,
  '--theme-main-sidebar--hover-background':#edeff1,
  '--theme-main-sidebar--border-color':#e0e0e0,
  '--theme-main-sidebar--logo-background':#fff,
  '--theme-main-sidebar--logo-border':#e0e0e0,
);

$theme-sidebar-3: (
  '--theme-main-sidebar--background':#ddeefb,
  '--theme-main-sidebar--color':#454648,
  '--theme-main-sidebar--toggle':#454648,
  '--theme-main-sidebar--active-background':#cae8fb,
  '--theme-main-sidebar--active-color':#007aff,
  '--theme-main-sidebar--hover-background':#cae8fb,
  '--theme-main-sidebar--border-color':#bad0df,
  '--theme-main-sidebar--logo-background':#ddeefb,
  '--theme-main-sidebar--logo-border':#bad0df,
);

$theme-sidebar-4: (
  '--theme-main-sidebar--background':#e4e6e8,
  '--theme-main-sidebar--color':#5d5d5d,
  '--theme-main-sidebar--toggle':#797979,
  '--theme-main-sidebar--active-background':#d6d8db,
  '--theme-main-sidebar--active-color':#000,
  '--theme-main-sidebar--hover-background':#d6d8db,
  '--theme-main-sidebar--border-color':#c2c4c5,
  '--theme-main-sidebar--logo-background':#e4e6e8,
  '--theme-main-sidebar--logo-border':#c2c4c5,
);

$theme-sidebar-5: (
  '--theme-main-sidebar--background':linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%),
  '--theme-main-sidebar--color':#000,
  '--theme-main-sidebar--toggle':#000,
  '--theme-main-sidebar--active-background':rgba(142, 197, 252, 0.7),
  '--theme-main-sidebar--active-color':#000,
  '--theme-main-sidebar--hover-background':rgba(142, 197, 252, 0.2),
  '--theme-main-sidebar--border-color':#8ec5fc,
  '--theme-main-sidebar--logo-background':linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%),
  '--theme-main-sidebar--logo-border':#8ec5fc,
);

$theme-sidebar-6: (
  '--theme-main-sidebar--background':#1e273d,
  '--theme-main-sidebar--color':#79a3ba,
  '--theme-main-sidebar--toggle':#8592a6,
  '--theme-main-sidebar--active-background':#16162d,
  '--theme-main-sidebar--active-color':#2a6afe,
  '--theme-main-sidebar--hover-background':#1b1d37,
  '--theme-main-sidebar--border-color':transparent,
  '--theme-main-sidebar--logo-background':#1e3147,
  '--theme-main-sidebar--logo-border':#1e3147,
);

$theme-header-1: (
  '--theme-main-header--background':#19191e,
  '--theme-main-header--color':#b7b7b8,
  '--theme-main-header--border-color':transparent,
  '--theme-main-header--hover-background':#27272b,
  '--theme-main-header--hover-color':#f6f6f7,
);

$theme-header-2: (
  '--theme-main-header--background':#fff,
  '--theme-main-header--color':#252525,
  '--theme-main-header--border-color':#e0e0e0,
  '--theme-main-header--hover-background':#edeff1,
  '--theme-main-header--hover-color':#0f0f0f,
);

$theme-header-3: (
  '--theme-main-header--background':#1b1d37,
  '--theme-main-header--color':#79a3ba,
  '--theme-main-header--border-color':#1b1d37,
  '--theme-main-header--hover-background':#1b1d37,
  '--theme-main-header--hover-color':#2a6afe,
);
