<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1">Reset your password</h1>
<div class="app-body-long-02 mb-8">
  Create a new password for your account
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="app-form">
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('password')"
        [invalidText]="'This field is required'">
        Password
        <input
          formControlName="password"
          ibmText
          type="password"
          size="md"
          [invalid]="isValid('password')"
          [disabled]="false"
          theme="light"
          [placeholder]="''"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('passwordConfirm')"
        [invalidText]="'This field is required'">
        Password confirm
        <input
          formControlName="passwordConfirm"
          ibmText
          type="password"
          size="md"
          [invalid]="isValid('passwordConfirm')"
          [disabled]="false"
          theme="light"
          [placeholder]="''"
          [autocomplete]="true">
      </ibm-label>
    </div>
    <div class="app-form__submit">
      <button type="submit" class="app-ibm-btn-full" ibmButton="primary" size="field">
        Reset my password
        <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
      </button>
    </div>
  </div>
</form>
<div class="mt-8">
  Return to <a class="app-link" routerLink="../signin">Sign In</a>
</div>
