<div fxLayout="row wrap">
  <div fxFlex="100%" fxFlex.gt-md="50%">
    <div class="mb-8">
      <div class="mb-4">
        <div class="app-productive-heading-03 font-bold">Billing information</div>
        <div class="app-body-short-01">Your picture will be avaliable for everyone</div>
      </div>
      <div class="app-cards-vertical-merge">
        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">Name</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <input
                  value="David Robson"
                  ibmText
                  size="md"
                  theme="light">
                <div class="mt-2 app-caption-01">Full name</div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">Country</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <input
                  ibmText
                  value="United Kingdom"
                  size="md"
                  theme="light">
                <div class="mt-2 app-caption-01">Residency</div>
              </div>
            </div>
          </div>
        </div>
        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">State/province</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <input
                  ibmText
                  value="London"
                  size="md"
                  theme="light">
                <div class="mt-2 app-caption-01">Optional</div>
              </div>
            </div>
          </div>
        </div>

        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">Zip code</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <input
                  ibmText
                  value="0023"
                  size="md"
                  theme="light">
                <div class="mt-2 app-caption-01">Optional</div>
              </div>
            </div>
          </div>
        </div>

        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">City</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <input
                  ibmText
                  value="London"
                  size="md"
                  theme="light">
                <div class="mt-2 app-caption-01">Your company's city</div>
              </div>
            </div>
          </div>
        </div>

        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">Street</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <input
                  ibmText
                  value="King street 53/2"
                  size="md"
                  theme="light">
                <div class="mt-2 app-caption-01">Full address</div>
              </div>
            </div>
          </div>
        </div>

        <div class="app-card">
          <div class="app-card__content">
            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-md="30%">
                <div class="app-productive-heading-02">Personal / Company</div>
              </div>
              <div fxFlex="100%" fxFlex.gt-md="70%">
                <ibm-toggle
                  class="app-ibm-toggle-fix"
                  [onText]="'Company'"
                  [offText]="'Personal'"
                  [checked]="false"
                  size="md">
                </ibm-toggle>
                <div class="mt-2 app-caption-01">VAT information needed</div>
              </div>
            </div>
          </div>
        </div>

        <div class="app-card">
          <div class="app-card__content flex justify-end">
            <button ibmButton="primary" size="field">
              Save changes
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
