<div class="p-4">
  <div class="app-productive-heading-03 mb-4 pb-3 app-border-b font-bold">Theme settings</div>

  <div>
    <button (click)="onChangeTheme('light')">Light</button>
    <button (click)="onChangeTheme('dark')">Dark</button>
  </div>

  <div class="mb-6">
    <div class="app-subtitle mb-1">SIDEBAR</div>
    <div fxLayout="row wrap" class="app-theme-bg--holder">
      <ng-container *ngFor="let theme of sideBarThemes">
        <div fxFlex="50%" class="app-theme-bg--block">
          <div (click)="onSetSideBarTheme(theme.name)" class="app-theme-bg--{{theme.name}}"></div>
        </div>
      </ng-container>
    </div>
  </div>

  <div>
    <div class="app-subtitle mb-1">HEADER SIDEBAR / HEADER</div>
    <div fxLayout="row wrap" class="app-theme-bg--holder">
      <ng-container *ngFor="let theme of headerThemes">
        <div fxFlex="50%" class="app-theme-bg--block">
          <div (click)="onSetHeaderTheme(theme.name)" class="app-theme-bg--{{theme.name}}"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
