<ng-template #customTableItemTemplate let-data="data">
  <a [attr.href]="data.link">{{data.name}} {{data.surname}}</a>
</ng-template>
<ng-template #customHeaderTemplate let-data="data">
  <i><a [attr.href]="data.link">{{data.name}}</a></i>
</ng-template>
<ibm-table
  [model]="model"
  [size]="size"
  [sortable]="sortable"
  [showSelectionColumn]="showSelectionColumn"
  [stickyHeader]="stickyHeader"
  [skeleton]="skeleton"
  [striped]="false"
  (sort)="customSort($event)"
  (rowClick)="onRowClick($event)"
  [isDataGrid]="isDataGrid">
</ibm-table>
