<div fxFill fxLayout="column">
  <youpez-header>
    <youpez-header-title>
      Youpez 2020 Sprint W31-32
    </youpez-header-title>
    <youpez-header-tools>
      <button ibmButton="primary" size="sm" (click)="onCreate()">
        Create
        <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
      </button>
    </youpez-header-tools>
  </youpez-header>
  <div class="p-4 flex items-center">
    <div class="app-ibm-btn-merge mr-2" fxHide fxShow.gt-sm>
      <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
        <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
      </button>
    </div>
    <div class="mr-3" style="width:170px">
      <ibm-search placeholder="Search task..." size="sm"></ibm-search>
    </div>
    <div class="app-img-select mr-2">
      <ng-container *ngFor="let member of teamMembers;let i=index">
        <img [ngClass]="{'app-img-select__item--selected': member.id === selectedId}"
             (click)="onSelectMember(member.id)"
             [src]="member.avatar"
             [style.z-index]="member.id === selectedId ? teamMembers.length + 1 : teamMembers.length - i"
             placement="bottom"
             container="body"
             [ngbTooltip]="member.name"
             class="app-img-select__item w-10 rounded-full z-50"/>
      </ng-container>
    </div>
    <div class="flex flex-1 justify-end" fxHide fxShow.gt-sm>
      <button ibmButton="tertiary" size="sm">
        Quick filters
        <svg class="bx--btn__icon" ibmIconArrowDown size="20"></svg>
      </button>
    </div>
  </div>
  <div fxFlex class="relative app-border-t">
    <div class="app-a-box app-scrollbar-fix--horizontal ml-2">
      <ng-scrollbar track="horizontal">
        <div fxLayout="row" fxFill cdkDropListGroup>
          <ng-container *ngFor="let board of boards;let i = index">
            <div [fxFlex]="board.opened ? '320px' : '40px'"
                 class="relative app-transition-default mb-3">
              <div fxFill fxLayout="column" class="overflow-hidden app-border-r">
                <ng-container *ngIf="!board.opened">
                  <div (click)="onToggleColumn(i)" class="app-productive-heading-01 whitespace-no-wrap cursor-pointer"
                       style="transform: rotate(270deg);margin-top: 100%;">
                    {{board.name}}
                  </div>
                </ng-container>
                <ng-container *ngIf="board.opened">
                  <div class="flex items-center justify-between app-productive-heading-01 px-3 pt-2 pb-1">
                    <div>
                      <span class="cursor-pointer">{{board.name}}</span>
                      <span class="text-muted ml-3">({{board.tasks.length}})</span>
                    </div>
                    <button
                      (click)="onToggleColumn(i)"
                      ibmButton="ghost"
                      size="sm"
                      class="bx--btn--icon-only">
                      <svg class="bx--btn__icon" ibmIconMinimize size="32"></svg>
                    </button>
                  </div>
                  <div fxFlex class="relative">
                    <div class="app-a-box app-scrollbar-fix"
                         cdkDropList
                         [cdkDropListData]="board.tasks"
                         (cdkDropListDropped)="drop($event)">
                      <ng-scrollbar track="vertical">
                        <div class="px-1">
                          <ng-container *ngFor="let task of board.tasks">
                            <div class="app-card cursor-move"
                                 (click)="onView()"
                                 [ngClass]="{'app-card--bt-danger-vertical': task.important}"
                                 cdkDrag
                                 style="">
                              <div class="app-card__content">
                                <div class="app-expressive-heading-02 mb-4">
                                  {{task.description}}
                                </div>
                                <div class="flex items-center mb-1">
                                  <youpez-ibm-icon iconName="time" iconSize="16"></youpez-ibm-icon>
                                  <span class="ml-1">26.10.2020</span>
                                </div>
                                <div class="app-label-01">
                                  reporter: <span class="font-bold">Jon Doe</span>
                                </div>
                                <div class="flex items-center mt-4">
                                  <ng-container *ngIf="!task.bug">
                                    <ibm-tag class="app-ibm-tag-list" type="blue">Task</ibm-tag>
                                  </ng-container>
                                  <ng-container *ngIf="task.bug">
                                    <ibm-tag class="app-ibm-tag-list" type="red">Bug</ibm-tag>
                                  </ng-container>

                                  <ibm-tag class="app-ibm-tag-list" type="cool-gray">2h 50m</ibm-tag>
                                  <div class="flex flex-1 items-center justify-end">
                                    <div class="mr-2">AA-2052</div>
                                    <img class="w-6 h-6 rounded-full" [src]="getUserAvatarById(task.userId)"/>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </ng-scrollbar>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>
