<button (click)="onSideBarToggle($event)" class="app-layout__header__btn app-layout__header__btn--menu">
  <youpez-ibm-icon iconName="menu"></youpez-ibm-icon>
</button>
<img class="app-layout__header__logo app-layout__header__logo--white" src="assets/img/logo/logo-big-white.png"/>
<img class="app-layout__header__logo app-layout__header__logo--black" src="assets/img/logo/logo-big-black.png"/>
<div class="app-layout__header__tools">
  <button class="app-layout__header__btn app-layout__header__btn--icon">
    <youpez-ibm-icon iconName="notification" iconSize="24"></youpez-ibm-icon>
  </button>
  <button class="app-layout__header__btn app-layout__header__btn--icon">
    <youpez-ibm-icon iconName="user" iconSize="24"></youpez-ibm-icon>
  </button>
</div>
