<button (click)="onSideBarToggle($event)" class="app-layout__header__btn app-layout__header__btn--menu">
  <youpez-ibm-icon iconName="menu"></youpez-ibm-icon>
</button>
<img class="app-layout__header__logo app-layout__header__logo--white" src="assets/img/logo/logo-big-white.png"/>
<img class="app-layout__header__logo app-layout__header__logo--black" src="assets/img/logo/logo-big-black.png"/>
<div class="app-layout__header__tools">
  <button class="app-layout__header__btn app-layout__header__btn--icon" (click)="onItemClick({key:'search'})">
    <youpez-ibm-icon iconName="search" iconSize="24"></youpez-ibm-icon>
  </button>
  <div ngbDropdown
       placement="bottom-right"
       container="body">
    <button class="app-layout__header__btn app-layout__header__btn--icon" ngbDropdownToggle>
      <youpez-ibm-icon iconName="contourFinding" iconSize="24"></youpez-ibm-icon>
    </button>
    <div ngbDropdownMenu class="relative">
      <div fxLayout="column">
        <div class="app-list-header-alt" ngbDropdownItem>
          <div class="flex justify-between items-center">
            <div>APPLICATIONS</div>
          </div>
        </div>
        <div fxFlex>
          <div class="relative" style="width: 260px">
            <div fxLayout="row wrap" class="app-border-b">
              <div fxFlex="50%" class="app-border-r">
                <div class="app-card app-card--select app-card--m-0" ngbDropdownItem
                     routerLink="/app/scrum-board">
                  <div class="app-card__content text-center">
                    <youpez-ibm-icon iconName="dashboardReference" iconSize="32"></youpez-ibm-icon>
                    <div class="app-productive-heading-01 mt-2">SCRUM board</div>
                  </div>
                </div>
              </div>
              <div fxFlex="50%">
                <div class="app-card app-card--select app-card--m-0" ngbDropdownItem routerLink="/app/tasks">
                  <div class="app-card__content text-center">
                    <youpez-ibm-icon iconName="task" iconSize="32"></youpez-ibm-icon>
                    <div class="app-productive-heading-01 mt-2">Tasks</div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="app-border-b">
              <div fxFlex="50%" class="app-border-r">
                <div class="app-card app-card--select app-card--m-0" ngbDropdownItem
                     routerLink="/app/file-manager">
                  <div class="app-card__content text-center">
                    <youpez-ibm-icon iconName="folder" iconSize="32"></youpez-ibm-icon>
                    <div class="app-productive-heading-01 mt-2">File manager</div>
                  </div>
                </div>
              </div>
              <div fxFlex="50%">
                <div class="app-card app-card--select app-card--m-0" ngbDropdownItem routerLink="/app/mail">
                  <div class="app-card__content text-center">
                    <youpez-ibm-icon iconName="email" iconSize="32"></youpez-ibm-icon>
                    <div class="app-productive-heading-01 mt-2">Mail</div>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" class="">
              <div fxFlex="50%" class="app-border-r">
                <div class="app-card app-card--select app-card--m-0" ngbDropdownItem routerLink="/app/messages">
                  <div class="app-card__content text-center">
                    <youpez-ibm-icon iconName="sendAlt" iconSize="32"></youpez-ibm-icon>
                    <div class="app-productive-heading-01 mt-2">Messages</div>
                  </div>
                </div>
              </div>
              <div fxFlex="50%">
                <div class="app-card app-card--select app-card--m-0" ngbDropdownItem routerLink="/app/profile">
                  <div class="app-card__content text-center">
                    <youpez-ibm-icon iconName="faceActivated" iconSize="32"></youpez-ibm-icon>
                    <div class="app-productive-heading-01 mt-2">Profile</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngbDropdown
       placement="bottom-right"
       container="body">
    <button class="app-layout__header__btn app-layout__header__btn--icon" ngbDropdownToggle>
      <youpez-ibm-icon iconName="user" iconSize="24"></youpez-ibm-icon>
    </button>
    <div ngbDropdownMenu>
      <div class="app-list app-list--hover app-list--select app-list--no-border app-list--p">
        <div class="app-list__item app-list__item--no-p" ngbDropdownItem>
          <div class="px-2">
            <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatar2.jpg"/>
          </div>
          <div class="app-list__item__content mr-4">
            <div>
              <div class="app-helper-text-01">Signed in as</div>
              <div class="app-expressive-heading-02">David Robson</div>
            </div>
          </div>
        </div>
        <div class="app-list__divider"></div>
        <div class="app-list__item" ngbDropdownItem routerLink="/app/profile">
          <div class="app-list__item__content">
            Profile
          </div>
        </div>
        <div class="app-list__item" ngbDropdownItem routerLink="/app/pricing/modern">
          <div class="app-list__item__content">
            Plan & Upgrade
          </div>
        </div>
        <div class="app-list__item" ngbDropdownItem routerLink="/app/user/settings">
          <div class="app-list__item__content">
            Settings
          </div>
        </div>
        <div class="app-list__divider"></div>
        <div class="app-list__item mb-2" ngbDropdownItem routerLink="/auth/modern/signin">
          <div class="app-list__item__content">
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
