<div class="app-layout">
  <div class="app-layout__mini-sidebar">
    <div class="app-mini-sidebar">
      <app-layout-mini-sidebar></app-layout-mini-sidebar>
    </div>
  </div>
  <div class="app-layout__content">
    <app-sidenav-container fxFill>
      <app-sidenav-v2
        [breakpoint]="'md'"
        [opened]="true"
        [hoverAble]="true"
        [mode]="'side'"
        [toggleableBtn]="true"
        [size]="'sideBar1'">
        <app-layout-sidebar></app-layout-sidebar>
      </app-sidenav-v2>
      <div fxFill class="relative">
        <router-outlet></router-outlet>
      </div>
    </app-sidenav-container>
  </div>
</div>

