<youpez-content-simple mainTitle="Charts">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="50%">
      <div class="app-productive-heading-02 mb-2">VISUALIZATIONS</div>
      <div class="app-body-long-02 mb-4">
        Youpez uses the <span class="font-bold">Echarts visualizations </span>
        <br/>
        The examples below are all from the Echarts official example site
      </div>
      <div class="app-body-long-01 p-4 app-bg-container mb-5">
        ECharts: A Declarative Framework for Rapid Construction of Web-based Visualization
        <br/><br/>
        <a href="https://echarts.apache.org/en/index.html" target="_blank">Official homepage</a> <br/>
        <a href="https://echarts.apache.org/en/api.html#echarts" target="_blank">Documentations</a> <br/>
        <a href="https://echarts.apache.org/examples/en/index.html" target="_blank">Examples</a>
      </div>
    </div>
    <div fxFlex="100%" fxFlex.gt-md="100%">
      <div fxLayout="row wrap" class="mb-6 app-card-row">
        <ng-container *ngFor="let chart of charts">
          <div fxFlex="100%" fxFlex.gt-md="33.33%" class="">
            <div class="app-card p-2">
              <youpez-echarts-container>
                <youpez-echarts [options]="chart" class="app-echarts-component"
                             style="height: 400px;"></youpez-echarts>
              </youpez-echarts-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</youpez-content-simple>
