html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background: #f4f4f4 !important;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


#main-hero {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 29%2c 108%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c350.221C72.151%2c354.386%2c152.664%2c371.046%2c211.346%2c328.861C269.731%2c286.889%2c262.85%2c198.83%2c297.917%2c136.054C337.34%2c65.479%2c433.446%2c18.986%2c429.546%2c-61.759C425.694%2c-141.507%2c342.082%2c-192.555%2c279.64%2c-242.31C225.817%2c-285.197%2c163.69%2c-314.263%2c96.14%2c-327.423C33.026%2c-339.719%2c-29.89%2c-329.732%2c-92.433%2c-314.799C-158.031%2c-299.137%2c-225.223%2c-283.681%2c-275.472%2c-238.698C-329.378%2c-190.441%2c-365.23%2c-125.241%2c-382.628%2c-55.014C-401.231%2c20.076%2c-412.836%2c103.593%2c-377.293%2c172.304C-342.171%2c240.2%2c-265.366%2c272.729%2c-196.226%2c305.333C-134.283%2c334.543%2c-68.371%2c346.274%2c0%2c350.221' fill='%23001756'%3e%3c/path%3e%3cpath d='M1440 932.887C1510.872 919.8109999999999 1578.571 907.129 1644.752 878.6 1722.808 844.952 1826.045 829.732 1860.032 751.822 1894.0810000000001 673.77 1822.646 590.927 1806.738 507.271 1791.763 428.525 1811.6689999999999 342.706 1769.2930000000001 274.666 1724.071 202.058 1652.438 137.82100000000003 1568.024 123.99099999999999 1485.459 110.464 1413.556 173.86 1335.342 203.56799999999998 1264.16 230.60500000000002 1187.659 241.90499999999997 1129.185 290.677 1064.084 344.977 1003.829 411.831 986.226 494.757 968.172 579.81 999.323 665.729 1032.5149999999999 746.092 1066.7350000000001 828.9449999999999 1098.675 926.9590000000001 1180.163 964.3140000000001 1261.1100000000001 1001.421 1352.431 949.043 1440 932.887' fill='%23002382'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1055%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(22%2c 22%2c 22%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c350.221C72.151%2c354.386%2c152.664%2c371.046%2c211.346%2c328.861C269.731%2c286.889%2c262.85%2c198.83%2c297.917%2c136.054C337.34%2c65.479%2c433.446%2c18.986%2c429.546%2c-61.759C425.694%2c-141.507%2c342.082%2c-192.555%2c279.64%2c-242.31C225.817%2c-285.197%2c163.69%2c-314.263%2c96.14%2c-327.423C33.026%2c-339.719%2c-29.89%2c-329.732%2c-92.433%2c-314.799C-158.031%2c-299.137%2c-225.223%2c-283.681%2c-275.472%2c-238.698C-329.378%2c-190.441%2c-365.23%2c-125.241%2c-382.628%2c-55.014C-401.231%2c20.076%2c-412.836%2c103.593%2c-377.293%2c172.304C-342.171%2c240.2%2c-265.366%2c272.729%2c-196.226%2c305.333C-134.283%2c334.543%2c-68.371%2c346.274%2c0%2c350.221' fill='%23111111'%3e%3c/path%3e%3cpath d='M1440 932.887C1510.872 919.8109999999999 1578.571 907.129 1644.752 878.6 1722.808 844.952 1826.045 829.732 1860.032 751.822 1894.0810000000001 673.77 1822.646 590.927 1806.738 507.271 1791.763 428.525 1811.6689999999999 342.706 1769.2930000000001 274.666 1724.071 202.058 1652.438 137.82100000000003 1568.024 123.99099999999999 1485.459 110.464 1413.556 173.86 1335.342 203.56799999999998 1264.16 230.60500000000002 1187.659 241.90499999999997 1129.185 290.677 1064.084 344.977 1003.829 411.831 986.226 494.757 968.172 579.81 999.323 665.729 1032.5149999999999 746.092 1066.7350000000001 828.9449999999999 1098.675 926.9590000000001 1180.163 964.3140000000001 1261.1100000000001 1001.421 1352.431 949.043 1440 932.887' fill='%231b1b1b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1055'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(15%2c 98%2c 254%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c350.221C72.151%2c354.386%2c152.664%2c371.046%2c211.346%2c328.861C269.731%2c286.889%2c262.85%2c198.83%2c297.917%2c136.054C337.34%2c65.479%2c433.446%2c18.986%2c429.546%2c-61.759C425.694%2c-141.507%2c342.082%2c-192.555%2c279.64%2c-242.31C225.817%2c-285.197%2c163.69%2c-314.263%2c96.14%2c-327.423C33.026%2c-339.719%2c-29.89%2c-329.732%2c-92.433%2c-314.799C-158.031%2c-299.137%2c-225.223%2c-283.681%2c-275.472%2c-238.698C-329.378%2c-190.441%2c-365.23%2c-125.241%2c-382.628%2c-55.014C-401.231%2c20.076%2c-412.836%2c103.593%2c-377.293%2c172.304C-342.171%2c240.2%2c-265.366%2c272.729%2c-196.226%2c305.333C-134.283%2c334.543%2c-68.371%2c346.274%2c0%2c350.221' fill='%23014bd6'%3e%3c/path%3e%3cpath d='M1440 932.887C1510.872 919.8109999999999 1578.571 907.129 1644.752 878.6 1722.808 844.952 1826.045 829.732 1860.032 751.822 1894.0810000000001 673.77 1822.646 590.927 1806.738 507.271 1791.763 428.525 1811.6689999999999 342.706 1769.2930000000001 274.666 1724.071 202.058 1652.438 137.82100000000003 1568.024 123.99099999999999 1485.459 110.464 1413.556 173.86 1335.342 203.56799999999998 1264.16 230.60500000000002 1187.659 241.90499999999997 1129.185 290.677 1064.084 344.977 1003.829 411.831 986.226 494.757 968.172 579.81 999.323 665.729 1032.5149999999999 746.092 1066.7350000000001 828.9449999999999 1098.675 926.9590000000001 1180.163 964.3140000000001 1261.1100000000001 1001.421 1352.431 949.043 1440 932.887' fill='%234585fe'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  @media screen and (max-width: 1200px) {
    min-height: 100vh;
    height: auto;
    margin-bottom: 0;
  }
  /*  @include media-breakpoint-down(lg) {
      min-height: 100vh;
      height: auto;
      margin-bottom: 0;
    }
    @include media-breakpoint-down(sm) {

    }*/
}

#main-header {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  font-weight: 700;
  overflow: hidden;
}

.bg-tile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 4000px;
  height: 4000px;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='4000' height='4000' preserveAspectRatio='none' viewBox='0 0 4000 4000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1113%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='0' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='0' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='0' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='0' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='720' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='720' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='720' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='720' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='1440' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='1440' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='1440' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='1440' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='1440' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2160' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2160' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2160' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2160' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2160' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2160' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2880' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2880' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2880' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2880' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2880' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='2880' y='3600'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='3600' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='3600' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='3600' y='1440'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='3600' y='2160'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='3600' y='2880'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1120' x='3600' y='3600'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1113'%3e%3crect width='4000' height='4000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1119'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1116'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1115'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1117'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1114'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1118'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1120'%3e%3cuse xlink:href='%23SvgjsPath1114' x='30' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='30' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='30' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='30' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='30' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='30' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='30' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='30' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='30' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='30' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='30' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='30' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='90' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='90' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='90' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='90' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='90' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='150' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='150' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='150' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='150' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='150' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='150' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='150' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='150' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='150' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='150' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='150' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='150' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='210' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='210' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='210' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='210' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='210' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='210' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='210' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='210' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='210' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='210' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='210' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='210' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='270' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='270' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='270' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='270' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='270' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='270' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='270' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='270' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='270' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='270' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='270' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='270' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='330' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='330' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='330' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='330' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='330' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='330' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='330' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='330' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='330' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='330' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='330' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='330' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='390' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='390' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='390' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='390' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='390' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='390' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='390' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='390' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='390' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='390' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='390' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='390' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='450' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='450' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='450' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='450' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='450' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='450' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='450' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='450' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='450' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='450' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='450' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='450' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='510' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='510' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='510' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='510' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='510' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='510' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='510' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='510' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='510' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='510' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='510' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='510' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='570' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='570' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='570' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='570' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='570' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='570' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='570' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='570' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='570' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='570' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='570' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='570' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='630' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='630' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='630' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='630' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='630' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='630' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='630' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='630' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1118' x='630' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='630' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='630' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='630' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='690' y='30' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1117' x='690' y='90' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='690' y='150' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1116' x='690' y='210' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='690' y='270' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='690' y='330' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='690' y='390' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='690' y='450' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1114' x='690' y='510' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1119' x='690' y='570' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='690' y='630' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1115' x='690' y='690' stroke='rgba(57%2c 57%2c 57%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

.big-text {
  font-size: 4em;
  line-height: 1.1em;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 0px;

  @media screen and (max-width: 1200px) {
    font-size: 3em;
  }
}

.h-100 {
  height: 100%;
}

.app-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &.app-row-center {
    align-items: center;
  }

  &.app-row-end {
    align-items: flex-end;
  }

  &.app-row-all-center {
    justify-content: center;
    align-items: center;
  }
}

.app-fill {
  flex: 1 1 auto;
}

.hero-img {
  position: absolute;
  right: -280px;
  width: calc(100% + 230px);

  @media screen and (max-width: 1900px) {
    /*width: calc(100% + 140px);*/
    right: -180px;
  }

  @media screen and (max-width: 1800px) {
    right: -150px;
  }

  @media screen and (max-width: 1700px) {
    right: -120px;
    width: calc(100% + 180px);
  }

  @media screen and (max-width: 1600px) {
    right: -70px;
    width: calc(100% + 150px);
  }

  @media screen and (max-width: 1500px) {
    right: -130px;
    width: calc(100% + 150px);
  }

  @media screen and (max-width: 1450px) {
    right: -100px;
    width: calc(100% + 120px);
  }

  @media screen and (max-width: 1400px) {
    right: -30px;
    width: calc(100% + 50px);
  }

  @media screen and (max-width: 1300px) {
    right: -20px;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    right: 0;
    position: relative;
  }

}

.bx--btn {
  text-decoration: none !important;
  letter-spacing: 0.16px;
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin: 0;

  text-align: left;
  text-decoration: none;
  vertical-align: top;
  border-radius: 0 !important;
  outline: none;
  cursor: pointer;
  transition: background 70ms cubic-bezier(0, 0, 0.38, 0.9), box-shadow 70ms cubic-bezier(0, 0, 0.38, 0.9), border-color 70ms cubic-bezier(0, 0, 0.38, 0.9), outline 70ms cubic-bezier(0, 0, 0.38, 0.9);

  border: none;
}

.btn-basic {

}

.bt-def {
  background: #0f0f0f;
  color: #fff;
  border: 2px solid transparent;

  &:hover {
    color: #fff;
  }
}

.bt-alt {
  border: 2px solid #0f0f0f;
  color: #0f0f0f;
  background-color: transparent;

  &:hover {
    background-color: #0f0f0f;
    color: #fff;
  }
}

.btn-hero {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.29;
  min-width: 210px;
  text-align: center;
  padding: 20px 35px 20px 35px;
}

.btn-basic {
  font-size: 14px;
  padding: 5px 15px;
  font-weight: 700;
}

.btn-basic2 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.29;
  min-width: 210px;
  text-align: center;
  padding: 15px 30px 15px 30px;
}

.text-muted2 {
  opacity: .8;
}

.tile-holder {
  position: relative;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;


  .tile-component {
    flex: 1 1 50%;
    box-sizing: border-box;
    max-width: 50%;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    position: relative;

    @media screen and (max-width: 800px) {
      flex: 1 1 100%;
      box-sizing: border-box;
      max-width: 100%;
      border-right: none;
    }

    min-height: 300px;

    &:last-child {
      border-right: none;
    }

    &:hover {
      outline: 3px solid #0054ff;
      z-index: 2;
    }

  }
}

.text-1 {
  line-height: 1.334;
  font-size: 1.3rem;
  font-weight: 700;
}

.text-2 {
  line-height: 1.25;
  font-size: 2rem;
}

.text-3 {
  line-height: 1.25;
  font-size: 1.2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.container {
  max-width: calc(1280px + 3rem) !important;
}

.section-contrast {
  background-color: #204dd9;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;

  margin-top: 80px;
  margin-bottom: 80px;
}

.core-features {
  & > div {
    margin-bottom: 80px;
  }
}

.img-border {
  border: 1px solid #ccc;
  transition: transform .2s;

  &:hover{
    transform: scale(1.03);
  }
}
