<div fxLayout="row wrap">
  <div fxFlex="100%" fxFlex.gt-md="60%">

    <div class="mb-8" style="max-width: 550px">
      <div class="mb-4">
        <div class="app-productive-heading-03 font-bold">Add new credit card</div>
        <div class="app-body-short-01">Fill the form to add new card</div>
      </div>
      <div class="app-cards-vertical-merge">
        <div class="app-card">
          <div class="app-card__content">
            <app-dummy-form-credit-card #form1></app-dummy-form-credit-card>
          </div>
        </div>
        <div class="app-card">
          <div class="app-card__content flex justify-end">
            <button (click)="form1.submit()" ibmButton="primary" size="field">
              Save card
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-8" style="max-width: 550px">
      <div class="mb-4">
        <div class="app-productive-heading-03 font-bold">Current credit card</div>
        <div class="app-body-short-01">This card handle payments</div>
      </div>
      <div class="app-cards-vertical-merge">
        <div class="app-card">
          <div class="app-card__content">
            <youpez-credit-card></youpez-credit-card>
          </div>
        </div>
        <div class="app-card">
          <div class="app-card__content flex justify-end">
            <div class="mr-2">
              <button ibmButton="tertiary" size="field">
                Change card
              </button>
            </div>
            <button ibmButton="danger" size="field">
              Delete card
            </button>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
