<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>
    <div fxLayout="row" fxLayoutAlign="center start" class="app-border-b  mb-5">
      <div fxFlex="100%" fxFlex.gt-md="80%" fxFlex.gt-lg="70%" class="app-content app-content--default">
        <div class="pt-5 pb-4">
          <youpez-logo class="cursor-pointer" logoWidth="200px"></youpez-logo>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="100%" fxFlex.gt-md="80%" fxFlex.gt-lg="70%" class="app-content app-content--default">
        <div>
          <div class="">
            <div class="text-center">
              <div class="app-productive-heading-06 mb-4">
                Pricing and plans
              </div>
              <p class="app-body-long-02 mb-8">
                Youpez’s powerful platform empowers everyone <br/> across your organization with data.
              </p>
              <div class="mb-8">
                <ibm-toggle
                  class="app-ibm-toggle-fix app-ibm-toggle-inline"
                  [onText]="'Yearly'"
                  [offText]="'Monthly'"
                  [checked]="true"
                  (change)="onChange($event)"
                  size="md">
                </ibm-toggle>
              </div>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <ng-container *ngFor="let package of packages">
              <div fxFlex="100%" fxFlex.gt-md="33.33%">
                <div class="app-card app-card--b-0">
                  <ng-container *ngIf="package.recommend">
                    <div class="px-4 py-2 app-bg-primary app-text-contrast text-center">
                      <div class="app-body-short-01">Recommended for you</div>
                    </div>
                  </ng-container>
                  <div [ngClass]="{'app-border-color-primary border-2 border-solid':package.recommend}">
                    <div class="app-card__content" [class]="package.cssClass">
                      <ibm-tag type="green">{{package.type}}</ibm-tag>
                      <div class="flex items-center mt-1">
                        <ng-container *ngIf="package.price[period]">
                          <span class="app-productive-heading-03 mr-1">$</span>
                          <span class="app-productive-heading-07 mr-1 font-bold">{{package.price[period]}}</span>
                          <span class="app-productive-heading-01">/month</span>
                        </ng-container>
                        <ng-container *ngIf="!package.price[period]">
                          <span class="app-productive-heading-05 mr-1 font-bold inline-block" style="line-height: 64px">Individual</span>
                        </ng-container>
                      </div>
                      <div class="app-body-long-01 mt-1">{{package.users}}</div>
                    </div>
                    <div class="app-card__content app-border-b">
                      <div class="app-productive-heading-02">{{package.use}}</div>
                    </div>
                    <div class="app-card__content app-border-b">
                      <div class="app-body-short-01 mb-3">
                        {{package.subtitle}}
                      </div>
                      <ng-container *ngFor="let feature of package.features">
                        <div class="flex items-center mb-1">
                          <youpez-ibm-icon iconName="checkMarkOutline" class="app-color-success"></youpez-ibm-icon>
                          <div class="ml-2">{{feature}}</div>
                        </div>
                      </ng-container>
                    </div>
                    <div class="app-card__content">
                      <ng-container *ngIf="package.button === 1">
                        <button ibmButton="primary" size="field" class="app-ibm-btn-full">
                          Choose plan
                          <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="package.button === 2">
                        <button ibmButton="secondary" size="field" class="app-ibm-btn-full">
                          Contact us
                          <svg class="bx--btn__icon" ibmIconSend size="20"></svg>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <app-pricing-other></app-pricing-other>
      </div>
    </div>
  </ng-scrollbar>
</div>
