<div class="app-main-header">


  <div>
    <div class="app-breadcrumb">

      <div class="app-breadcrumb__item">Dashboard</div>
      <div class="app-breadcrumb__separator">/</div>
      <div class="app-breadcrumb__item">Dashboard</div>
    </div>
    <div class="app-main-header__inner">
      <button class="app-main-header__menu-btn">
        <!--<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2"/>
          <path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/>
        </svg>-->
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
        </svg>
        <!--<app-ibm-icon iconName="menu" iconSize="24"></app-ibm-icon>-->
      </button>
      <div class="app-main-header__text">
        <ng-content></ng-content>
      </div>

    </div>

  </div>
</div>
