<ng-container [ngSwitch]="iconName">
  <ng-container *ngSwitchCase="'home'">
    <svg ibmIconHome [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'application'">
    <svg ibmIconApplication [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'help'">
    <svg ibmIconHelp [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'aperture'">
    <svg ibmIconAperture [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'search'">
    <svg ibmIconSearch [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'notification'">
    <svg ibmIconNotification [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chat'">
    <svg ibmIconChat [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'user'">
    <svg ibmIconUser [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tools'">
    <svg ibmIconTools [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowUp'">
    <svg ibmIconArrowUp [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowDown'">
    <svg ibmIconArrowDown [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowLeft'">
    <svg ibmIconArrowLeft [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowRight'">
    <svg ibmIconArrowRight [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDataOps'">
    <svg ibmIconCloudDataOps [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'virtualPrivateCloudAlt'">
    <svg ibmIconVirtualPrivateCloudAlt [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkMarkOutline'">
    <svg ibmIconCheckmarkOutline [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretRight'">
    <svg ibmIconCaretRight [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretLeft'">
    <svg ibmIconCaretLeft [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'renew'">
    <svg ibmIconRenew [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'alarm'">
    <svg ibmIconAlarm [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'minimize'">
    <svg ibmIconMinimize [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDownload'">
    <svg ibmIconCloudDownload [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'analytics'">
    <svg ibmIconAnalytics [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'activity'">
    <svg ibmIconActivity [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboard'">
    <svg ibmIconDashboard [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboardReference'">
    <svg ibmIconDashboardReference [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'task'">
    <svg ibmIconTask [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'catalog'">
    <svg ibmIconCatalog [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'document'">
    <svg ibmIconDocument [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'email'">
    <svg ibmIconEmail [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'send'">
    <svg ibmIconSend [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'sendAlt'">
    <svg ibmIconSendAlt [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAdmin'">
    <svg ibmIconUserAdmin [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAvatar'">
    <svg ibmIconUserAvatar [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'folder'">
    <svg ibmIconFolder [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'imageSearch'">
    <svg ibmIconImageSearch [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'error'">
    <svg ibmIconError [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phraseSentiment'">
    <svg ibmIconPhraseSentiment [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableSplit'">
    <svg ibmIconTableSplit [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chartColumn'">
    <svg ibmIconChartColumn [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'magicWand'">
    <svg ibmIconMagicWand [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textTracking'">
    <svg ibmIconTextTracking [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textCreation'">
    <svg ibmIconTextCreation [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trashCan'">
    <svg ibmIconTrashCan [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'menu'">
    <svg ibmIconMenu [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButton'">
    <svg ibmIconRadioButton [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButtonChecked'">
    <svg ibmIconRadioButtonChecked [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settingsAdjust'">
    <svg ibmIconSettingsAdjust [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settings'">
    <svg ibmIconSettings [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkboxChecked'">
    <svg ibmIconCheckboxChecked [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudApp'">
    <svg ibmIconCloudApp [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'bullhorn'">
    <svg ibmIconBullhorn [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'buildingInsights1'">
    <svg ibmIconBuildingInsights_1 [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tag'">
    <svg ibmIconTag [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'time'">
    <svg ibmIconTime [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronDown'">
    <svg ibmIconChevronDown [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronUp'">
    <svg ibmIconChevronUp [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'draggable'">
    <svg ibmIconDraggable [size]="iconSize"></svg>
  </ng-container>

  <ng-container *ngSwitchDefault>!!!</ng-container>
</ng-container>
