<ng-container [ngSwitch]="iconName">
  <ng-container *ngSwitchCase="'home'">
    <svg cdsIcon="home" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'application'">
    <svg cdsIcon="application" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'help'">
    <svg cdsIcon="help" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'add'">
    <svg cdsIcon="add" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'aperture'">
    <svg cdsIcon="aperture" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'search'">
    <svg cdsIcon="search" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'notification'">
    <svg cdsIcon="notification" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chat'">
    <svg cdsIcon="chat" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'user'">
    <svg cdsIcon="user" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tools'">
    <svg cdsIcon="tools" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowUp'">
    <svg cdsIcon="arrow--up" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowDown'">
    <svg cdsIcon="arrow--down" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowLeft'">
    <svg cdsIcon="arrow--left" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'arrowRight'">
    <svg cdsIcon="arrow--right" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDataOps'">
    <svg cdsIcon="cloud-data-ops" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'virtualPrivateCloudAlt'">
    <svg cdsIcon="virtual-private-cloud--alt" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkMarkOutline'">
    <svg cdsIcon="checkmark--outline" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkmark'">
    <svg cdsIcon="checkmark" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkmarkFilled'">
    <svg cdsIcon="checkmark--filled" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretRight'">
    <svg cdsIcon="caret--right" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'caretLeft'">
    <svg cdsIcon="caret--left" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'renew'">
    <svg cdsIcon="renew" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'alarm'">
    <svg cdsIcon="alarm" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'minimize'">
    <svg cdsIcon="minimize" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudDownload'">
    <svg cdsIcon="cloud-download" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'analytics'">
    <svg cdsIcon="analytics" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'activity'">
    <svg cdsIcon="activity" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboard'">
    <svg cdsIcon="dashboard" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'dashboardReference'">
    <svg cdsIcon="dashboard--reference" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'task'">
    <svg cdsIcon="task" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'catalog'">
    <svg cdsIcon="catalog" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'document'">
    <svg cdsIcon="document" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'email'">
    <svg cdsIcon="email" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'send'">
    <svg cdsIcon="send" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'sendAlt'">
    <svg cdsIcon="send--alt" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAdmin'">
    <svg cdsIcon="User--admin" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'userAvatar'">
    <svg cdsIcon="user--avatar" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'folder'">
    <svg cdsIcon="folder" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'folderShared'">
    <svg cdsIcon="folder--shared" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'recentlyViewed'">
    <svg cdsIcon="recently-viewed" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'image'">
    <svg cdsIcon="image" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'imageSearch'">
    <svg cdsIcon="image--search" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'error'">
    <svg cdsIcon="error" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phraseSentiment'">
    <svg cdsIcon="phrase--sentiment" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableSplit'">
    <svg cdsIcon="table--split" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chartColumn'">
    <svg cdsIcon="chart-column" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'magicWand'">
    <svg cdsIcon="magic-wand" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textTracking'">
    <svg cdsIcon="text--tracking" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textCreation'">
    <svg cdsIcon="text--creation" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'trashCan'">
    <svg cdsIcon="trash-can" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'menu'">
    <svg cdsIcon="menu" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButton'">
    <svg cdsIcon="radio-button" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'radioButtonChecked'">
    <svg cdsIcon="radio-button--checked" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settingsAdjust'">
    <svg cdsIcon="settings--adjust" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'settings'">
    <svg cdsIcon="settings" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'edit'">
    <svg cdsIcon="edit" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'checkboxChecked'">
    <svg cdsIcon="checkbox--checked" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'cloudApp'">
    <svg cdsIcon="cloud-app" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'bullhorn'">
    <svg cdsIcon="bullhorn" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'buildingInsights1'">
    <svg cdsIcon="building--insights-1" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tag'">
    <svg cdsIcon="tag" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'time'">
    <svg cdsIcon="time" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronDown'">
    <svg cdsIcon="chevron--down" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronUp'">
    <svg cdsIcon="chevron--up" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronLeft'">
    <svg cdsIcon="chevron--left" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'chevronRight'">
    <svg cdsIcon="chevron--right" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'draggable'">
    <svg cdsIcon="draggable" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'archive'">
    <svg cdsIcon="archive" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'maximize'">
    <svg cdsIcon="maximize" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'star'">
    <svg cdsIcon="star" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'download'">
    <svg cdsIcon="download" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'share'">
    <svg cdsIcon="share" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'move'">
    <svg cdsIcon="move" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'tableOfContents'">
    <svg cdsIcon="tableOfContents" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'upload'">
    <svg cdsIcon="Upload" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'package'">
    <svg cdsIcon="package" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'attachment'">
    <svg cdsIcon="attachment" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'flag'">
    <svg cdsIcon="flag" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'flagFilled'">
    <svg cdsIcon="flagFilled" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textBold'">
    <svg cdsIcon="textBold" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textItalic'">
    <svg cdsIcon="textItalic" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'textUnderline'">
    <svg cdsIcon="textUnderline" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'printer'">
    <svg cdsIcon="printer" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'overflowMenuHorizontal'">
    <svg cdsIcon="overflow-menu--horizontal" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'overflowMenuVertical'">
    <svg cdsIcon="overflow-menu--vertical" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelFilledLeft'">
    <svg cdsIcon="open-panel--filled--left" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelLeft'">
    <svg cdsIcon="open-panel--left" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'openPanelRight'">
    <svg cdsIcon="open-panel--right" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'locked'">
    <svg cdsIcon="locked" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'information'">
    <svg cdsIcon="information" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'phone'">
    <svg cdsIcon="phone" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'subtract'">
    <svg cdsIcon="subtract" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'money'">
    <svg cdsIcon="money" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'faceActivated'">
    <svg cdsIcon="faceActivated" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'purchase'">
    <svg cdsIcon="purchase" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'calendar'">
    <svg cdsIcon="calendar" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'password'">
    <svg cdsIcon="password" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'location'">
    <svg cdsIcon="location" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hourglass'">
    <svg cdsIcon="hourglass" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'inProgress'">
    <svg cdsIcon="inProgress" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hearing'">
    <svg cdsIcon="hearing" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'favorite'">
    <svg cdsIcon="favorite" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'pin'">
    <svg cdsIcon="pin" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'industry'">
    <svg cdsIcon="industry" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'portfolio'">
    <svg cdsIcon="portfolio" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'exit'">
    <svg cdsIcon="exit" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'close'">
    <svg cdsIcon="close" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'view'">
    <svg cdsIcon="View" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'apps'">
    <svg cdsIcon="apps" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'contourFinding'">
    <svg cdsIcon="WatsonHealthContourFinding" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'save'">
    <svg cdsIcon="save" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'3dCursorAlt'">
    <svg cdsIcon="WatsonHealth_3DCursorAlt" [size]="size"></svg>
  </ng-container>

  <ng-container *ngSwitchCase="'hashtag'">
    <!--<svg cdsIcon="hashtag" [size]="size"></svg>-->
    <svg xmlns="http://www.w3.org/2000/svg" [style.width]="size" [style.height]="size" viewBox="0 0 32 32">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }
        </style>
      </defs>
      <path d="M28,12V10H22V4H20v6H12V4H10v6H4v2h6v8H4v2h6v6h2V22h8v6h2V22h6V20H22V12Zm-8,8H12V12h8Z"/>
      <rect class="cls-1" [style.width]="size" [style.height]="size"/>
    </svg>
  </ng-container>

  <ng-container *ngSwitchDefault>!!!</ng-container>
</ng-container>
