<youpez-content-simple mainTitle="Widgets - cards">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="60%">
      <div class="app-body-long-02 mb-6">
        These cards just demonstrations of basic usage. You can easily add your design to card design of the theme or
        create new
        ones with <span
        class="font-bold">tailwindcss</span>.
        You can find plenty of card examples among the pages of Youpez platform.
      </div>

      <div class="mb-2">
        <div class="app-productive-heading-03 font-bold">Basic cards</div>
        <p class="app-body-short-01">Simple styling, simple modifications...</p>
      </div>
      <div fxLayout="row wrap" class="app-card-row">
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card _app-card-min-height">
            <div class="app-card__content">
              Simple card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select _app-card-min-height">
            <div class="app-card__content">
              Selectable card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select--active _app-card-min-height">
            <div class="app-card__content">
              Active / Selected card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-success _app-card-min-height">
            <div class="app-card__content">
              Styled card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-danger app-card--select _app-card-min-height">
            <div class="app-card__content">
              Styled card selectable
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-warning _app-card-min-height">
            <div class="app-card__content">
              Styled card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-success-vertical _app-card-min-height">
            <div class="app-card__content">
              Styled card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-danger-vertical _app-card-min-height">
            <div class="app-card__content">
              Styled card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-warning-vertical _app-card-min-height">
            <div class="app-card__content">
              Styled card
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select _app-card-min-height">
            <div class="app-card__header app-card__header--border">
              Card header
            </div>
            <div class="app-card__content">
              Card content
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select--active app-card--bt-success-vertical _app-card-min-height">
            <div class="app-card__header app-card__header--border">
              Card header
            </div>
            <div class="app-card__content">
              Card content
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select--active app-card--bt-danger _app-card-min-height">
            <div class="app-card__header app-card__header--border">
              Card header
            </div>
            <div class="app-card__content">
              Card content
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card _app-card-min-height">
            <div class="app-card__header app-card__header--border">
              Card header
            </div>
            <div class="app-card__tool">
              <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
              </button>
              <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
              </button>
            </div>
            <div class="app-card__content">
              Card content
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card _app-card-min-height">
            <div class="app-card__header app-card__header--border">
              Card header
            </div>
            <div class="app-card__tool app-card__tool--ghost">
              <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
              </button>
              <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
              </button>
            </div>
            <div class="app-card__content">
              Card content
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--bt-success-vertical _app-card-min-height">
            <div class="app-card__header app-card__header--border">
              Card header
            </div>
            <div class="app-card__tool app-card__tool--ghost">
              <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                <svg class="bx--btn__icon" ibmIconAdd size="32"></svg>
              </button>
              <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
                <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
              </button>
            </div>
            <div class="app-card__content">
              Card content
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select">
            <div class="app-card__header app-bg-decorative app-text-contrast">
              Card header
            </div>
            <div class="app-card__content app-bg-decorative-lt-10 app-text-contrast _app-card-min-height">
              <div class="app-productive-heading-03 mb-1">
                Content title
              </div>
              <p class="app-body-short-01">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select">
            <div class="app-card__header app-bg-warning app-text-contrast">
              Card header
            </div>
            <div class="app-card__content app-bg-warning-lt-10 app-text-contrast _app-card-min-height">
              <div class="app-productive-heading-03 mb-1">
                Content title
              </div>
              <p class="app-body-short-01">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select">
            <div class="app-card__header app-bg-secondary app-text-contrast">
              Card header
            </div>
            <div class="app-card__content app-bg-secondary-lt-10 app-text-contrast _app-card-min-height">
              <div class="app-productive-heading-03 mb-1">
                Content title
              </div>
              <p class="app-body-short-01">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select app-bg-success">
            <div class="app-card__header app-bg-success app-text-contrast">
              Card header
            </div>
            <div class="app-card__content app-bg-success-lt-10 app-text-contrast _app-card-min-height">
              <div class="app-productive-heading-03 mb-1">
                Content title
              </div>
              <p class="app-body-short-01">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select app-bg-danger">
            <div class="app-card__header app-bg-danger app-text-contrast">
              Card header
            </div>
            <div class="app-card__content app-bg-danger-lt-10 app-text-contrast _app-card-min-height">
              <div class="app-productive-heading-03 mb-1">
                Content title
              </div>
              <p class="app-body-short-01">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.gt-md="33.33%">
          <div class="app-card app-card--select">
            <div class="app-card__header app-bg-primary app-text-contrast">
              Card header
            </div>
            <div class="app-card__content app-bg-primary-lt-10 app-text-contrast _app-card-min-height">
              <div class="app-productive-heading-03 mb-1">
                Content title
              </div>
              <p class="app-body-short-01">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-4 mt-8">
        <div class="app-productive-heading-03 font-bold">Card groups</div>
        <p class="app-body-short-01">You can create your own unique awesome card groups with Youpez card styling &
          angular-flex</p>
      </div>

      <div class="app-cards-layout-1">
        <div fxLayout="row wrap" fxLayoutGap="1px grid">
          <div fxFlex="100%" fxFlex.gt-md="50%">
            <div fxFlex class="app-card app-card--m-0 app-card--select">
              <div class="app-card__content _app-card-min-height2">
                1.
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxFlex.gt-md="25%">
            <div fxFlex fxLayout="column" fxLayoutGap="1px">
              <div fxFlex class="app-card app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height2">
                  2.
                </div>
              </div>
              <div fxFlex class="app-card app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height2">
                  3.
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxFlex.gt-md="25%">
            <div fxFlex fxLayout="column" fxLayoutGap="1px">
              <div fxFlex class="app-card app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height">
                  3.
                </div>
              </div>
              <div fxFlex class="app-card app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height2">
                  4.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-cards-layout-1 mt-4">
        <div fxLayout="row wrap" fxLayoutGap="1px grid">
          <div fxFlex="100%" fxFlex.gt-md="33.33%">
            <div fxFlex class="app-card app-card--m-0 app-card--select">
              <div class="app-card__content _app-card-min-height2">
                <div class="app-productive-heading-03 mb-2">
                  Content title
                </div>
                <p class="app-body-short-01">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam,
                </p>
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxFlex.gt-md="33.33%">
            <div fxFlex class="app-card app-card--m-0 app-card--select">
              <div class="app-card__content _app-card-min-height2">
                <div class="app-productive-heading-03 mb-2">
                  Content title
                </div>
                <p class="app-body-short-01">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam,
                </p>
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxFlex.gt-md="33.33%">
            <div fxFlex class="app-card app-card--m-0 app-card--select">
              <div class="app-card__content _app-card-min-height2">
                <div class="app-productive-heading-03 mb-2">
                  Content title
                </div>
                <p class="app-body-short-01">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="app-cards-layout-1 mt-4">
        <div fxLayout="row wrap" fxLayoutGap="1px grid">
          <div fxFlex="100%" fxFlex.gt-md="50%">
            <div fxFlex class="app-card app-card--m-0 app-card--select">
              <div class="app-card__content _app-card-min-height2">
                1.
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxFlex.gt-md="25%">
            <div fxFlex fxLayout="column" fxLayoutGap="1px">
              <div fxFlex class="app-card app-card--select--active app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height2">
                  2. selected
                </div>
              </div>
              <div fxFlex class="app-card app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height2">
                  3.
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="100%" fxFlex.gt-md="25%">
            <div fxFlex fxLayout="column" fxLayoutGap="1px">
              <div fxFlex class="app-card app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height">
                  3.
                </div>
              </div>
              <div fxFlex class="app-card app-card--select--active app-card--m-0 app-card--select">
                <div class="app-card__content _app-card-min-height2">
                  4. selected
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</youpez-content-simple>
