<app-sidenav-container fxFill>
  <app-sidenav-v2
    [breakpoint]="'md'"
    [direction]="'right'"
    [opened]="true"
    [hoverAble]="true"
    [mode]="'side'"
    [toggleableBtn]="true"
    [size]="'sideBar1'">
    <div class="app-a-box app-scrollbar-fix">
      <ng-scrollbar>
        asdsadasasd
      </ng-scrollbar>
    </div>
  </app-sidenav-v2>
  <div class="app-a-box app-scrollbar-fix">
    <ng-scrollbar>
      <div fxLayout="row wrap" class="app-card-row-holder">
        <div fxFlex="100%" fxFlex.gt-lg="100%">
          <div class="app-card">
            <div class="app-card__header app-card__header--border">
              <div class="app-row app-row--center">
                <div class="app-symbol app-symbol--default mr-3">
                  <div class="app-symbol__label w-12 h-12 app-expressive-heading-01 app-color-info">
                    STRP
                  </div>
                </div>
                <div>
                  <div class="app-expressive-heading-03 mb-1">Campaign Analysis</div>
                  <div class="app-label-01">Production environment on <span class="font-bold">US Region</span></div>
                </div>
                <div class="flex-1 flex justify-end">
                  <div style="width:300px">
                    <ibm-content-switcher>
                      <button ibmContentOption name="First">DAY</button>
                      <button ibmContentOption name="Second">WEEK</button>
                      <button ibmContentOption name="Third">MONTH</button>
                    </ibm-content-switcher>
                  </div>
                  <!--<button ibmButton="ghost" size="sm" class="mr-1">
                    DAY
                  </button>
                  <button ibmButton="tertiary" size="sm" class="mr-1">
                    WEEK
                  </button>
                  <button ibmButton="ghost" size="sm">
                    MONTH
                  </button>-->
                </div>
                <!--                <div class="app-ibm-toggle-fix" style="width: 100px;">
                                  &lt;!&ndash;<ibm-toggle
                                    label="EU Region"
                                    [onText]="'INCLUDE'"
                                    [offText]="'EXCLUDE'"
                                    [checked]="true"
                                    [size]="'sm'">
                                  </ibm-toggle>&ndash;&gt;
                                </div>-->
              </div>
            </div>

            <div fxLayout="row wrap">
              <div fxFlex="100%" fxFlex.gt-lg="75%">
                <ng-container *ngIf="!loading">
                  <div class="app-card__content">
                    <app-echarts [options]="mainChartOpts" class="app-echarts-component"
                                 style="height: 400px;"></app-echarts>
                  </div>
                </ng-container>
              </div>
              <div fxFlex="100%" fxFlex.gt-lg="25%">
                <div class="app-card__content">

                  <div class="mb-6 mt-4">
                    <div class="flex justify-between mb-1">
                      <div class="app-productive-heading-01">NEW USERS</div>
                      <div class="app-helper-text-01 text-muted">32% goal reached</div>
                    </div>
                    <div class="flex justify-between mb-4">
                      <div class="app-productive-heading-03">11,122</div>
                      <div class="app-helper-text-01 justify-center flex">21 100</div>
                    </div>
                    <div>
                      <div class="app-progress app-progress--small">
                        <div class="app-progress__bar app-bg-warning" style="width:32%"></div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-6">
                    <div class="flex justify-between mb-1">
                      <div class="app-productive-heading-01">PAGE CRT</div>
                      <div class="app-helper-text-01 text-muted">66% goal reached</div>
                    </div>
                    <div class="flex justify-between mb-4">
                      <div class="app-productive-heading-03">5,322</div>
                      <div class="app-helper-text-01 justify-center flex">210 100</div>
                    </div>
                    <div>
                      <div class="app-progress app-progress--small">
                        <div class="app-progress__bar app-bg-success" style="width:66%"></div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-6">
                    <div class="flex justify-between mb-1">
                      <div class="app-productive-heading-01">CHURN USERS</div>
                      <div class="app-helper-text-01 text-muted">11% of total</div>
                    </div>
                    <div class="flex justify-between mb-4 align-bottom">
                      <div class="app-productive-heading-03">1,323</div>
                      <div class="app-helper-text-01 justify-center flex">3,333</div>
                    </div>
                    <div>
                      <div class="app-progress app-progress--small">
                        <div class="app-progress__bar app-bg-success" style="width:11%"></div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="flex justify-between mb-1">
                      <div class="app-productive-heading-01">CONVERSIONS</div>
                      <div class="app-helper-text-01 text-muted">78% goal reached</div>
                    </div>
                    <div class="flex justify-between mb-4">
                      <div class="app-productive-heading-03">78,976</div>
                      <div class="app-helper-text-01 justify-center flex">12 200</div>
                    </div>
                    <div>
                      <div class="app-progress app-progress--small">
                        <div class="app-progress__bar app-bg-success" style="width:78%"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div fxFlex="100%" fxFlex.gt-lg="100%">
                <div fxLayout="row wrap" class="app-card__blocks">
                  <div fxFlex="100%" fxFlex.gt-md="20%" class="app-card__block">
                    <div class="flex justify-between">
                      <div class="">
                        <div>
                          <span class="app-productive-heading-03 mr-2">$ 12,333</span>
                          <span class="app-label-01 text-muted">+35%</span>
                        </div>
                        <div class="app-helper-text-01">TOTAL COST</div>
                      </div>
                      <app-ibm-icon iconName="arrowUp" iconSize="32" class="app-color-success mt-1"></app-ibm-icon>
                    </div>
                  </div>
                  <div fxFlex="100%" fxFlex.gt-md="20%" class="app-card__block">
                    <div class="flex justify-between">
                      <div class="">
                        <div>
                          <span class="app-productive-heading-03 mr-2">122,333</span>
                          <span class="app-label-01 text-muted">+12%</span>
                        </div>
                        <div class="app-helper-text-01">TOTAL USERS</div>
                      </div>
                      <app-ibm-icon iconName="arrowUp" iconSize="32" class="app-color-success mt-1"></app-ibm-icon>
                    </div>
                  </div>

                  <div fxFlex="100%" fxFlex.gt-md="20%" class="app-card__block">
                    <div class="flex justify-between">
                      <div class="">
                        <div>
                          <span class="app-productive-heading-03 mr-2">1000ms</span>
                          <span class="app-label-01 text-muted">-11%</span>
                        </div>
                        <div class="app-helper-text-01">AVG DELAY</div>
                      </div>
                      <app-ibm-icon iconName="arrowDown" iconSize="32" class="app-color-danger mt-1"></app-ibm-icon>
                    </div>
                  </div>

                  <div fxFlex="100%" fxFlex.gt-md="20%" class="app-card__block">
                    <div class="flex justify-between">
                      <div class="">
                        <div>
                          <span class="app-productive-heading-03 mr-2">1,100ms</span>
                          <span class="app-label-01 text-muted">+2%</span>
                        </div>
                        <div class="app-helper-text-01">MEDIAN WORKLOAD</div>
                      </div>
                      <app-ibm-icon iconName="arrowUp" iconSize="32" class="app-color-success mt-1"></app-ibm-icon>
                    </div>
                  </div>

                  <div fxFlex="100%" fxFlex.gt-md="20%" class="app-card__block">
                    <div class="flex justify-between">
                      <div class="">
                        <div>
                          <span class="app-productive-heading-03 mr-2">$ 511</span>
                          <span class="app-label-01 text-muted">+78%</span>
                        </div>
                        <div class="app-helper-text-01">AVG PURCHASE</div>
                      </div>
                      <app-ibm-icon iconName="arrowUp" iconSize="32" class="app-color-success mt-1"></app-ibm-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
    </ng-scrollbar>
  </div>
</app-sidenav-container>
