<div fxLayout="row wrap">
  <div fxFlex="60%" class="p-4">
    <div fxLayout="row wrap" fxLayoutGap="1px grid" style="background: red">
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
      <div fxFlex="25%">
        <div class="app-card app-card--m-0">1</div>
      </div>
    </div>

  </div>
</div>

